<returnval>
  <objects>
    <obj type="Datacenter">{{ dc }}</obj>
    <propSet>
        <name>name</name>
        <val xmlns:XMLSchema-instance="http://www.w3.org/2001/XMLSchema-instance" XMLSchema-instance:type="xsd:string">{{ dc }}</val>
    </propSet>
  </objects>
</returnval>
