<returnval>
  <objects>
    <obj type="HostSystem">{{hostname}}</obj>
    <propSet>
      <name>name</name>
      <val xmlns:XMLSchema-instance="http://www.w3.org/2001/XMLSchema-instance" XMLSchema-instance:type="xsd:string">{{hostname}}</val>
    </propSet>
  </objects>
</returnval>
