      <returnval>
        <objects>
          <obj type="VirtualMachine">{{ vm }}</obj>
          <propSet>
            <name>runtime</name>
            <val xmlns:XMLSchema-instance="http://www.w3.org/2001/XMLSchema-instance" XMLSchema-instance:type="VirtualMachineRuntimeInfo">
              <host type="HostSystem">{{ host }}</host>
              <connectionState>connected</connectionState>
              <powerState>{{ status }}</powerState>
              <toolsInstallerMounted>false</toolsInstallerMounted>
              <numMksConnections>0</numMksConnections>
            </val>
          </propSet>
        </objects>
      </returnval>
