<fan-information>
        <fan-information-rpm-item>
            <name>FPC 0 Tray 0 Fan 0</name>
            <status>OK</status>
            <rpm>6199</rpm>
            <comment>Spinning at normal speed</comment>
        </fan-information-rpm-item>
        <fan-information-rpm-item>
            <name>FPC 0 Tray 0 Fan 1</name>
            <status>OK</status>
            <rpm>5294</rpm>
            <comment>Spinning at normal speed</comment>
        </fan-information-rpm-item>
</fan-information>
