<fan-information>
        <fan-information-rpm-item>
            <name>FPC 0 Tray 0 Fan 0</name>
            <status>{{ fan_status|default('OK') }}</status>
            <rpm>6199</rpm>
            <comment>Test comment - {{ fan_status|default('OK') }} </comment>
        </fan-information-rpm-item>
</fan-information>
