<alarm-information>
    <alarm-summary>
        <active-alarm-count>{{ alarms.items|length }}</active-alarm-count>
    </alarm-summary>
{% for alarm in alarms %}
        <alarm-detail>
            <alarm-time>
                {{ alarms['time'] }}
            </alarm-time>
            <alarm-class>{{ alarm['class'] }}</alarm-class>
            <alarm-description>{{ alarm['description'] }}</alarm-description>
            <alarm-short-description>{{ alarm['description'] }}</alarm-short-description>
            <alarm-type>{{ alarm['type'] }}</alarm-type>
        </alarm-detail>
{% endfor %}
</alarm-information>
