<commit-information>
{% for n in range(0, rollback_count) %}
    <commit-history>
        <sequence-number>{{n}}</sequence-number>
        <user>root</user>
        <client>netconf</client>
        <date-time>2020-02-27 22:57:22 UTC</date-time>
        <log>Contrail execution ID: 1582845486734_30e91ac6-b2db-4848-8b7b-{{n}}</log>
    </commit-history>
{% endfor %}
</commit-information>
