<configuration>
            <version>20.2R2.10</version>
            <system>
                <host-name>{{ hostname }}</host-name>
                <root-authentication>
                    <encrypted-password>$6$JWLKlAzK$zz0Zq86IitSJobDzS1W7dz8pfcouNsbPwiiDRr44Kz0fyjzGXmFLHYeT40rOwzsOuRLDGzJzn/z1lMwTEIeg5/</encrypted-password>
                </root-authentication>
                <services>
                    <ssh>
                        <root-login>allow</root-login>
                    </ssh>
                    <telnet>
                    </telnet>
                    <extension-service>
                        <request-response>
                            <grpc>
                                <undocumented><clear-text>
                                    <port>32767</port>
                                </clear-text></undocumented>
                                <undocumented><skip-authentication/></undocumented>
                            </grpc>
                        </request-response>
                    </extension-service>
                    <netconf>
                        <ssh>
                        </ssh>
                        <rfc-compliant/>
                    </netconf>
                    <outbound-ssh>
                        <client>
                            <name>EMS-624748be-5496-464e-bc2b-d22ab24c8a62</name>
                            <device-id>624748be-5496-464e-bc2b-d22ab24c8a62.JUNOS</device-id>
                            <secret>$9$oBJjH5QFAtOzFcyleW8jHkmz3IRhyrvfThSrK8L4aJZHqmPQzn/5T0B1Eyr4aJZk.zF/uO1UjmTQ39C8XxNwYJGDi.PLxGDHqQz369CBI</secret>
                            <keep-alive>
                            </keep-alive>
                            <services>netconf</services>
                            <servers>
                                <name>10.102.90.51</name>
                                <port>7804</port>
                            </servers>
                        </client>
                    </outbound-ssh>
                </services>
                <domain-search>contrail.juniper.net</domain-search>
                <domain-search>juniper.net</domain-search>
                <domain-search>jnpr.net</domain-search>
                <domain-search>englab.juniper.net</domain-search>
                <domain-search>spglab.juniper.net</domain-search>
                <time-zone>America/Los_Angeles</time-zone>
                <schema>
                    <openconfig>
                        <unhide/>
                    </openconfig>
                </schema>
                <syslog>
                    <user>
                        <name>*</name>
                        <contents>
                            <name>any</name>
                            <emergency/>
                        </contents>
                    </user>
                    <file>
                        <name>messages</name>
                        <contents>
                            <name>any</name>
                            <notice/>
                        </contents>
                        <contents>
                            <name>authorization</name>
                            <info/>
                        </contents>
                    </file>
                    <file>
                        <name>default-log-messages</name>
                        <contents>
                            <name>any</name>
                            <any/>
                        </contents>
                        <match>(UI_COMMIT_COMPLETED)|ifAdminStatus|ifOperStatus|(FRU power)|(FRU removal)|(FRU insertion)|(link UP)|(vc add)|(vc delete)|transitioned|Transferred|transfer-file|QFABRIC_NETWORK_NODE_GROUP|QFABRIC_SERVER_NODE_GROUP|QFABRIC_NODE|(license add)|(license delete)</match>
                        <structured-data>
                        </structured-data>
                    </file>
                </syslog>
                <ntp>
                    <server>
                        <name>10.84.5.100</name>
                    </server>
                </ntp>
            </system>
</configuration>
