<output>
        net.prds_token_cnts:
        Combined global token count: 4
        Combined global token words count: 12

        Combined local token count:
        PE id 0, count 9
        PE id 1, count 3
        PE id 2, count 7
        PE id 3, count 3
        PE id 4, count 3
        PE id 5, count 3
        Combined local token words count:
        PE id 0, count 25
        PE id 1, count 7
        PE id 2, count 19
        PE id 3, count 7
        PE id 4, count 7
        PE id 5, count 7

        Global token count: Token type L2, count 2
        Local token count: Token type L2
        PE id 0, count 2
        PE id 1, count 2
        PE id 2, count 2
        PE id 3, count 2
        PE id 4, count 2
        PE id 5, count 2

        Global token count: Token type L3, count 0
        Local token count: Token type L3
        PE id 0, count 7
        PE id 1, count 1
        PE id 2, count 5
        PE id 3, count 1
        PE id 4, count 1
        PE id 5, count 1

        Global token count: Token type BUM, count 4

        Approximate number of IRB ARP/NDs that can be created: 103761

    </output>
