<multi-routing-engine-results>
<multi-routing-engine-item>
<re-name>re0</re-name>
<software-information>
<host-name>{{hostname}}</host-name>
<product-model>{{model}}</product-model>
<product-name>{{model}}</product-name>
<junos-version>{{version}}</junos-version>
<package-information>
<name>junos</name>
<comment>JUNOS Base OS boot [{{version}}]</comment>
</package-information>
</software-information>
</multi-routing-engine-item>
</multi-routing-engine-results>
