<interface-information xmlns="http://xml.juniper.net/junos/20.2R0/junos-interface" style="normal">
        <physical-interface>
            <name>vtep</name>
            <admin-status format="Enabled">up</admin-status>
            <oper-status>up</oper-status>
            <local-index>130</local-index>
            <snmp-index>505</snmp-index>
            <generation>133</generation>
            <if-type>Software-Pseudo</if-type>
            <link-level-type>VxLAN-Tunnel-Endpoint</link-level-type>
            <mtu>Unlimited</mtu>
            <speed>Unlimited</speed>
            <clocking>Unspecified</clocking>
            <if-device-flags>
                <ifdf-present/>
                <ifdf-running/>
            </if-device-flags>
            <ifd-specific-config-flags>
            </ifd-specific-config-flags>
            <if-config-flags>
            </if-config-flags>
            <link-type>Full-Duplex</link-type>
            <if-media-flags>
                <ifmf-none/>
            </if-media-flags>
            <physical-information>Unspecified</physical-information>
            <up-hold-time>0</up-hold-time>
            <down-hold-time>0</down-hold-time>
            <current-physical-address>Unspecified</current-physical-address>
            <hardware-physical-address>Unspecified</hardware-physical-address>
            <alternate-physical-address>Unspecified</alternate-physical-address>
            <interface-flapped seconds="0">Never</interface-flapped>
            <statistics-cleared>2020-10-26 17:25:32 PDT (4w2d 00:16 ago)</statistics-cleared>
            <traffic-statistics style="verbose">
                <input-bytes>0</input-bytes>
                <output-bytes>0</output-bytes>
                <input-packets>0</input-packets>
                <output-packets>0</output-packets>
                <ipv6-transit-statistics>
                    <input-bytes>0</input-bytes>
                    <output-bytes>0</output-bytes>
                    <input-packets>0</input-packets>
                    <output-packets>0</output-packets>
                </ipv6-transit-statistics>
            </traffic-statistics>
            <input-error-list>
                <input-errors>0</input-errors>
                <input-drops>0</input-drops>
                <framing-errors>0</framing-errors>
                <input-runts>0</input-runts>
                <input-giants>0</input-giants>
                <input-discards>0</input-discards>
                <input-resource-errors>0</input-resource-errors>
            </input-error-list>
            <output-error-list>
                <carrier-transitions>0</carrier-transitions>
                <output-errors>0</output-errors>
                <output-drops>0</output-drops>
                <mtu-errors>0</mtu-errors>
                <output-resource-errors>0</output-resource-errors>
            </output-error-list>
            <logical-interface>
                <name>vtep.32768</name>
                <local-index>556</local-index>
                <snmp-index>523</snmp-index>
                <hardware-token>4294967295</hardware-token>
                <generation>924</generation>
                <if-config-flags>
                    <iff-up/>
                    <iff-snmp-traps/>
                    <internal-flags>0x4000</internal-flags>
                </if-config-flags>
                <encapsulation>ENET2</encapsulation>
                <policer-overhead>
                </policer-overhead>
                <vtep-info>
                    <vtep-type>Source</vtep-type>
                    <vtep-address>5.5.5.5</vtep-address>
                    <vtep-l2-routing-instance>default-switch</vtep-l2-routing-instance>
                    <vtep-l3-routing-instance>default</vtep-l3-routing-instance>
                </vtep-info>
                <traffic-statistics style="verbose" indent="2" >
                    <input-bytes>0</input-bytes>
                    <output-bytes>0</output-bytes>
                    <input-packets>0</input-packets>
                    <output-packets>0</output-packets>
                </traffic-statistics>
                <local-traffic-statistics>
                    <input-bytes>0</input-bytes>
                    <output-bytes>0</output-bytes>
                    <input-packets>0</input-packets>
                    <output-packets>0</output-packets>
                </local-traffic-statistics>
                <transit-traffic-statistics>
                    <input-bytes>0</input-bytes>
                    <input-bps>0</input-bps>
                    <output-bytes>0</output-bytes>
                    <output-bps>0</output-bps>
                    <input-packets>0</input-packets>
                    <input-pps>0</input-pps>
                    <output-packets>0</output-packets>
                    <output-pps>0</output-pps>
                </transit-traffic-statistics>
                <filter-information>
                </filter-information>
            </logical-interface>
        </physical-interface>
    </interface-information>
