<chassis-mac-addresses xmlns="http://xml.juniper.net/junos/18.4R2/junos-chassis">
<chassis-mac-addresses-edge-info>
<re-mac-address>
</re-mac-address>
<fpc-mac-address>
<name>FPC 0</name>
<fpc-mac-base>{{macaddr}}</fpc-mac-base>
<fpc-mac-count>1280</fpc-mac-count>
</fpc-mac-address>
</chassis-mac-addresses-edge-info>
</chassis-mac-addresses>
