<configuration>
    <interfaces>
        <interface>
            <name>lo0</name>
            <unit>
                <name>0</name>
                <family>
                    <inet>
                        <address>
                            <name>{{lo0_ip}}/32</name>
                        </address>
                    </inet>
                </family>
            </unit>
        </interface>
    </interfaces>
</configuration>
