[DEFAULTS]
log_level = SYS_DEBUG
fabric = {{fabric_name}}
role = {{role}}
n_peers = {{n_peers}}
n_bleafs = {{n_bleafs}}
n_pifs = {{n_pifs}}
version = 20.2R2
model = qfx10002-72q

[Netconf]
username = root
password = c0ntrail123
socket = {{netconf_socket}}
port = 22

[SNMP]
socket = {{snmp_socket}}
oids = {{snmp_oids}}
collector = {{collector}}
port = 161

[sFlows]
flows = {{sflows_filename}}
collector = {{collector}}
port = 6343
