[
{"sensor_1004:/network-instances/network-instance/protocols/protocol/bgp/neighbors/:/network-instances/network-instance/protocols/protocol/bgp/neighbors/:rpd":     [
{% set bgp_dct = bgp|default({}) %}
{% for ri in bgp_dct.get('network-instances', ['master']) %}
{% set outer_loop = loop %}
{% set ri_dct = bgp_dct.get(ri, {}) %}
{% for neigh in ri_dct.get('neighbors', ['1.1.1.1']) %}
{% set dct = ri_dct.get(neigh, {}) %}
    {"__prefix__": {"str_value": "/network-instances/network-instance[name='{{ ri }}']/protocols/protocol/bgp/neighbors/neighbor[neighbor-address='{{ neigh }}']/"}},
        {"snmp-peer-index":    {"uint_value": {{ dct.get('snmp-peer-index', 3.000000) }} } },
        {"state/peer-as":    {"uint_value": {{ dct.get('state/peer-as', 64599.000000) }} } },
        {"state/local-as":    {"uint_value": {{ dct.get('state/local-as', 64598.000000) }} } },
        {"state/peer-type":    {"str_value": "{{ dct.get('state/peer-type', 'EXTERNAL') }}" } },
        {"state/auth-password":    {"str_value": "{{ dct.get('state/auth-password', '(null)') }}" } },
        {"state/route-flap-damping":    {"bool_value": {{ dct.get('state/route-flap-damping', 'false') }} } },
        {"state/description":    {"str_value": "{{ dct.get('state/description', '(null)') }}" } },
        {"state/session-state":    {"str_value": "{{ dct.get('state/session-state', 'ESTABLISHED') }}" } },
        {"state/last-established":    {"uint_value": {{ dct.get('state/last-established', 100) }} } },
        {"state/established-transitions":    {"uint_value": {{ dct.get('state/established-transitions', 2.000000) }} } },
        {"state/supported-capabilities":    {"str_value": "{{ dct.get('state/supported-capabilities', 'MPBGP') }}" } },
        {"state/supported-capabilities":    {"str_value": "{{ dct.get('state/supported-capabilities', 'ROUTE_REFRESH') }}" } },
        {"state/supported-capabilities":    {"str_value": "{{ dct.get('state/supported-capabilities', 'GRACEFUL_RESTART') }}" } },
        {"state/messages/sent/UPDATE":    {"uint_value": {{ dct.get('state/messages/sent/UPDATE', 478.000000) }} } },
        {"state/messages/sent/NOTIFICATION":    {"uint_value": {{ dct.get('state/messages/sent/NOTIFICATION', 0.000000) }} } },
        {"state/messages/sent/last-notification-time":    {"uint_value": {{ dct.get('state/messages/sent/last-notification-time', 100) }} } },
        {"state/messages/sent/last-notification-error-code":    {"str_value": "{{ dct.get('state/messages/sent/last-notification-error-code', 'CEASE') }}" } },
        {"state/messages/sent/last-notification-error-subcode":    {"str_value": "{{ dct.get('state/messages/sent/last-notification-error-subcode', 'HARDRESET') }}" } },
        {"state/messages/received/UPDATE":    {"uint_value": {{ dct.get('state/messages/received/UPDATE', 100.000000) }} } },
        {"state/messages/received/NOTIFICATION":    {"uint_value": {{ dct.get('state/messages/received/NOTIFICATION', 0.000000) }} } },
        {"state/messages/received/last-notification-time":    {"uint_value": {{ dct.get('state/messages/received/last-notification-time', 0.000000) }} } },
        {"state/messages/received/last-notification-error-code":    {"str_value": "{{ dct.get('state/messages/received/last-notification-error-code', 'NONE') }}" } },
        {"state/messages/received/last-notification-error-subcode":    {"str_value": "{{ dct.get('state/messages/received/last-notification-error-subcode', 'UNSPECIFIC') }}" } },
        {"state/queues/input":    {"uint_value": {{ dct.get('state/queues/input', 0.000000) }} } },
        {"state/queues/output":    {"uint_value": {{ dct.get('state/queues/output', 0.000000) }} } },
        {"state/dynamically-configured":    {"bool_value": {{ dct.get('state/dynamically-configured', 'false') }} } },
        {"state/session-status":    {"str_value": "{{ dct.get('state/session-status', 'RUNNING') }}" } },
        {"state/session-admin-status":    {"str_value": "{{ dct.get('state/session-admin-status', 'START') }}" } },
        {"state/interface-error":    {"bool_value": {{ dct.get('state/interface-error', 'false') }} } },
        {"state/import-eval-pending":    {"bool_value": {{ dct.get('state/import-eval-pending', 'false') }} } },
        {"state/import-eval":    {"bool_value": {{ dct.get('state/import-eval', 'false') }} } },
        {"state/peer-group":    {"str_value": "{{ dct.get('state/peer-group', 'CLOS') }}" } },
        {"state/neighbor-address":    {"str_value": "{{ dct.get('state/neighbor-address', '{{ neigh }}') }}" } },
        {"state/enabled":    {"bool_value": {{ dct.get('state/enabled', 'true') }} } },
        {"timers/state/connect-retry":    {"str_value": "{{ dct.get('timers/state/connect-retry', '0.00') }}" } },
        {"timers/state/hold-time":    {"str_value": "{{ dct.get('timers/state/hold-time', '90.00') }}" } },
        {"timers/state/keepalive-interval":    {"str_value": "{{ dct.get('timers/state/keepalive-interval', '30.00') }}" } },
        {"timers/state/minimum-advertisement-interval":    {"str_value": "{{ dct.get('timers/state/minimum-advertisement-interval', '0.00') }}" } },
        {"timers/state/negotiated-hold-time":    {"str_value": "{{ dct.get('timers/state/negotiated-hold-time', '90.00') }}" } },
        {"transport/state/tcp-mss":    {"uint_value": {{ dct.get('transport/state/tcp-mss', 0.000000) }} } },
        {"transport/state/mtu-discovery":    {"bool_value": {{ dct.get('transport/state/mtu-discovery', 'false') }} } },
        {"transport/state/passive-mode":    {"bool_value": {{ dct.get('transport/state/passive-mode', 'false') }} } },
        {"transport/state/local-address":    {"str_value": "{{ dct.get('transport/state/local-address', '192.168.132.1') }}" } },
        {"transport/state/local-port":    {"uint_value": {{ dct.get('transport/state/local-port', 50907.000000) }} } },
        {"transport/state/remote-address":    {"str_value": "{{ dct.get('transport/state/remote-address', '{{ neigh }}') }}" } },
        {"transport/state/remote-port":    {"uint_value": {{ dct.get('transport/state/remote-port', 179.000000) }} } },
        {"error-handling/state/treat-as-withdraw":    {"bool_value": {{ dct.get('error-handling/state/treat-as-withdraw', 'false') }} } },
        {"error-handling/state/erroneous-update-messages":    {"uint_value": {{ dct.get('error-handling/state/erroneous-update-messages', 0.000000) }} } },
        {"logging-options/state/log-neighbor-state-changes":    {"bool_value": {{ dct.get('logging-options/state/log-neighbor-state-changes', 'false') }} } },
        {"ebgp-multihop/state/enabled":    {"bool_value": {{ dct.get('ebgp-multihop/state/enabled', 'false') }} } },
        {"ebgp-multihop/state/multihop-ttl":    {"uint_value": {{ dct.get('ebgp-multihop/state/multihop-ttl', 0.000000) }} } },
        {"route-reflector/state/route-reflector-cluster-id":    {"str_value": "{{ dct.get('route-reflector/state/route-reflector-cluster-id', 'zero-len') }}" } },
        {"route-reflector/state/route-reflector-client":    {"bool_value": {{ dct.get('route-reflector/state/route-reflector-client', 'false') }} } },
        {"as-path-options/state/allow-own-as":    {"uint_value": {{ dct.get('as-path-options/state/allow-own-as', 2.000000) }} } },
        {"as-path-options/state/replace-peer-as":    {"bool_value": {{ dct.get('as-path-options/state/replace-peer-as', 'false') }} } },
        {"as-path-options/state/disable-peer-as-filter":    {"bool_value": {{ dct.get('as-path-options/state/disable-peer-as-filter', 'true') }} } },
        {"use-multiple-paths/state/enabled":    {"bool_value": {{ dct.get('use-multiple-paths/state/enabled', 'true') }} } },
        {"use-multiple-paths/ebgp/state/allow-multiple-as":    {"bool_value": {{ dct.get('use-multiple-paths/ebgp/state/allow-multiple-as', 'false') }} } },
    {"__prefix__": {"str_value": "/network-instances/network-instance[name='{{ ri }}']/protocols/protocol/bgp/neighbors/neighbor[neighbor-address='{{ neigh }}']/afi-safis/afi-safi[afi-safi-name='IPV4_UNICAST']/"}},
        {"graceful-restart/state/enabled":    {"bool_value": {{ dct.get('graceful-restart/state/enabled', 'true') }} } },
        {"graceful-restart/state/received":    {"bool_value": {{ dct.get('graceful-restart/state/received', 'true') }} } },
        {"graceful-restart/state/advertised":    {"bool_value": {{ dct.get('graceful-restart/state/advertised', 'true') }} } },
        {"state/afi-safi-name":    {"str_value": "{{ dct.get('state/afi-safi-name', 'IPV4_UNICAST') }}" } },
        {"state/enabled":    {"bool_value": {{ dct.get('state/enabled', 'true') }} } },
        {"state/active":    {"bool_value": {{ dct.get('state/active', 'true') }} } },
        {"state/prefixes/received":    {"uint_value": {{ dct.get('state/prefixes/received', 8.000000) }} } },
        {"state/prefixes/sent":    {"uint_value": {{ dct.get('state/prefixes/sent', 1.000000) }} } },
        {"state/prefixes/installed":    {"uint_value": {{ dct.get('state/prefixes/installed', 6.000000) }} } },
        {"state/prefixes/accepted":    {"uint_value": {{ dct.get('state/prefixes/accepted', 8.000000) }} } },
        {"state/prefix-limit-exceeded":    {"bool_value": {{ dct.get('state/prefix-limit-exceeded', 'false') }} } },
        {"state/queues/input":    {"uint_value": {{ dct.get('state/queues/input', 0.000000) }} } },
        {"state/queues/output":    {"uint_value": {{ dct.get('state/queues/output', 0.000000) }} } },
        {"add-paths/state/receive":    {"bool_value": {{ dct.get('add-paths/state/receive', 'false') }} } },
        {"add-paths/state/send":    {"bool_value": {{ dct.get('add-paths/state/send', 'false') }} } },
        {"add-paths/state/send-max":    {"uint_value": {{ dct.get('add-paths/state/send-max', 0.000000) }} } },
        {"add-paths/state/eligible-prefix-policy":    {"str_value": "{{ dct.get('add-paths/state/eligible-prefix-policy', '') }}" } },
        {"ipv4-unicast/prefix-limit/state/max-prefixes":    {"uint_value": {{ dct.get('ipv4-unicast/prefix-limit/state/max-prefixes', 0.000000) }} } },
        {"ipv4-unicast/prefix-limit/state/prevent-teardown":    {"bool_value": {{ dct.get('ipv4-unicast/prefix-limit/state/prevent-teardown', 'true') }} } },
        {"ipv4-unicast/prefix-limit/state/shutdown-threshold-pct":    {"uint_value": {{ dct.get('ipv4-unicast/prefix-limit/state/shutdown-threshold-pct', 0.000000) }} } },
        {"ipv4-unicast/prefix-limit/state/restart-timer":    {"str_value": "{{ dct.get('ipv4-unicast/prefix-limit/state/restart-timer', '0.00') }}" } },
    {"__prefix__": {"str_value": "/network-instances/network-instance[name='{{ ri }}']/protocols/protocol/bgp/neighbors/neighbor[neighbor-address='{{ neigh }}']/"}},
        {"graceful-restart/state/enabled":    {"bool_value": {{ dct.get('graceful-restart/state/enabled', 'false') }} } },
        {"graceful-restart/state/restart-time":    {"uint_value": {{ dct.get('graceful-restart/state/restart-time', 120.000000) }} } },
        {"graceful-restart/state/stale-routes-time":    {"str_value": "{{ dct.get('graceful-restart/state/stale-routes-time', '300.00') }}" } },
        {"graceful-restart/state/helper-only":    {"bool_value": {{ dct.get('graceful-restart/state/helper-only', 'true') }} } },
        {"graceful-restart/state/peer-restart-time":    {"uint_value": {{ dct.get('graceful-restart/state/peer-restart-time', 120.000000) }} } },
        {"graceful-restart/state/peer-restarting":    {"bool_value": {{ dct.get('graceful-restart/state/peer-restarting', 'false') }} } },
        {"graceful-restart/state/local-restarting":    {"bool_value": {{ dct.get('graceful-restart/state/local-restarting', 'false') }} } },
        {"graceful-restart/state/mode":    {"str_value": "{{ dct.get('graceful-restart/state/mode', 'HELPER_ONLY') }}" } },
        {"apply-policy/state/export-policy":    {"str_value": "{{ dct.get('apply-policy/state/export-policy', 'export-bgp') }}" } 
{% if loop.last and outer_loop.last %}
            }
{% else %}
            },
{% endif %}
{% endfor %}
{% endfor %}
]
}
]
