[
{% set dct = components|default({}) %}
{"sensor_1009_1_1:/junos/system/linecard/transceiver/:/components/:PFE":     [
    {"__prefix__": {"str_value": "/components/component[name='FPC0:PIC0:PORT0']/state/"}},
        {"oper-status":    {"str_value": "{{ dct.get('oper-status', 'INACTIVE') }}" } },
    {"__prefix__": {"str_value": "/components/component[name='FPC0:PIC0:PORT0:Xcvr0']/transceiver/"}},
        {"state/enabled":    {"bool_value": {{ dct.get('state/enabled', 'false') }} } },
    {"__prefix__": {"str_value": "/components/component[name='FPC0:PIC0:PORT1']/state/"}},
        {"oper-status":    {"str_value": "{{ dct.get('oper-status', 'ACTIVE') }}" } },
    {"__prefix__": {"str_value": "/components/component[name='FPC0:PIC0:PORT1:Xcvr0']/transceiver/"}},
        {"state/enabled":    {"bool_value": {{ dct.get('state/enabled', 'true') }} } },
        {"state/output-power/instant":    {"double_value": {{ dct.get('state/output-power/instant', -2.23) }} } },
        {"state/input-power/instant":    {"double_value": {{ dct.get('state/input-power/instant', -8.31) }} } },
        {"state/laser-bias-current/instant":    {"double_value": {{ dct.get('state/laser-bias-current/instant', 5.38) }} } },
    {"__prefix__": {"str_value": "/components/component[name='FPC0:PIC0:PORT2']/state/"}},
        {"oper-status":    {"str_value": "{{ dct.get('oper-status', 'ACTIVE') }}" } },
    {"__prefix__": {"str_value": "/components/component[name='FPC0:PIC0:PORT2:Xcvr0']/transceiver/"}},
        {"state/enabled":    {"bool_value": {{ dct.get('state/enabled', 'true') }} } },
        {"state/output-power/instant":    {"double_value": {{ dct.get('state/output-power/instant', -2.28) }} } },
        {"state/input-power/instant":    {"double_value": {{ dct.get('state/input-power/instant', -1.95) }} } },
        {"state/laser-bias-current/instant":    {"double_value": {{ dct.get('state/laser-bias-current/instant', 5.23) }} } },
    {"__prefix__": {"str_value": "/components/component[name='FPC0:PIC0:PORT6']/state/"}},
        {"oper-status":    {"str_value": "{{ dct.get('oper-status', 'ACTIVE') }}" } },
    {"__prefix__": {"str_value": "/components/component[name='FPC0:PIC0:PORT6:Xcvr0']/transceiver/"}},
        {"state/enabled":    {"bool_value": {{ dct.get('state/enabled', 'true') }} } },
    {"__prefix__": {"str_value": "/components/component[name='FPC0:PIC0:PORT8']/state/"}},
        {"oper-status":    {"str_value": "{{ dct.get('oper-status', 'ACTIVE') }}" } },
    {"__prefix__": {"str_value": "/components/component[name='FPC0:PIC0:PORT8:Xcvr0']/transceiver/"}},
        {"state/enabled":    {"bool_value": {{ dct.get('state/enabled', 'true') }} } },
    {"__prefix__": {"str_value": "/components/component[name='FPC0:PIC0:PORT44']/state/"}},
        {"oper-status":    {"str_value": "{{ dct.get('oper-status', 'ACTIVE') }}" } },
    {"__prefix__": {"str_value": "/components/component[name='FPC0:PIC0:PORT44:Xcvr0']/transceiver/"}},
        {"state/enabled":    {"bool_value": {{ dct.get('state/enabled', 'true') }} } },
    {"__prefix__": {"str_value": "/components/component[name='FPC0:PIC0:PORT45']/state/"}},
        {"oper-status":    {"str_value": "{{ dct.get('oper-status', 'ACTIVE') }}" } },
    {"__prefix__": {"str_value": "/components/component[name='FPC0:PIC0:PORT45:Xcvr0']/transceiver/"}},
        {"state/enabled":    {"bool_value": {{ dct.get('state/enabled', 'true') }} } },
    {"__prefix__": {"str_value": "/components/component[name='FPC0:PIC0:PORT46']/state/"}},
        {"oper-status":    {"str_value": "{{ dct.get('oper-status', 'ACTIVE') }}" } },
    {"__prefix__": {"str_value": "/components/component[name='FPC0:PIC0:PORT46:Xcvr0']/transceiver/"}},
        {"state/enabled":    {"bool_value": {{ dct.get('state/enabled', 'true') }} } },
    {"__prefix__": {"str_value": "/components/component[name='FPC0:PIC0:PORT47']/state/"}},
        {"oper-status":    {"str_value": "{{ dct.get('oper-status', 'ACTIVE') }}" } },
    {"__prefix__": {"str_value": "/components/component[name='FPC0:PIC0:PORT47:Xcvr0']/transceiver/"}},
        {"state/enabled":    {"bool_value": {{ dct.get('state/enabled', 'true') }} } },
    {"__prefix__": {"str_value": "/components/component[name='FPC0:PIC0:PORT48']/state/"}},
        {"oper-status":    {"str_value": "{{ dct.get('oper-status', 'ACTIVE') }}" } },
    {"__prefix__": {"str_value": "/components/component[name='FPC0:PIC0:PORT48:Xcvr0']/transceiver/"}},
        {"state/enabled":    {"bool_value": {{ dct.get('state/enabled', 'true') }} } },
    {"__prefix__": {"str_value": "/components/component[name='FPC0:PIC0:PORT49']/state/"}},
        {"oper-status":    {"str_value": "{{ dct.get('oper-status', 'ACTIVE') }}" } },
    {"__prefix__": {"str_value": "/components/component[name='FPC0:PIC0:PORT49:Xcvr0']/transceiver/"}},
        {"state/enabled":    {"bool_value": {{ dct.get('state/enabled', 'true') }} } },
    {"__prefix__": {"str_value": "/components/component[name='FPC0:PIC0:PORT50']/state/"}},
        {"oper-status":    {"str_value": "{{ dct.get('oper-status', 'ACTIVE') }}" } },
    {"__prefix__": {"str_value": "/components/component[name='FPC0:PIC0:PORT50:Xcvr0']/transceiver/"}},
        {"state/enabled":    {"bool_value": {{ dct.get('state/enabled', 'true') }} } }    ]
},
{"sensor_1009_3_1:/components/:/components/:jkdsd":     [
    {"__prefix__": {"str_value": "/components/component[name='CPU0:CORE0']/"}},
        {"cpu/utilization/state/name":    {"str_value": "{{ dct.get('cpu/utilization/state/name', 'CPU0:CORE0') }}" } },
        {"cpu/utilization/state/instant":    {"uint_value": {{ dct.get('cpu/utilization/state/instant', 6.000000) }} } },
        {"cpu/utilization/state/avg":    {"uint_value": {{ dct.get('cpu/utilization/state/avg', 6.000000) }} } },
        {"cpu/utilization/state/min":    {"uint_value": {{ dct.get('cpu/utilization/state/min', 0.000000) }} } },
        {"cpu/utilization/state/max":    {"uint_value": {{ dct.get('cpu/utilization/state/max', 6.000000) }} } },
        {"cpu/utilization/state/interval":    {"uint_value": {{ dct.get('cpu/utilization/state/interval', 1834396.000000) }} } },
        {"cpu/utilization/state/min-time":    {"uint_value": {{ dct.get('cpu/utilization/state/min-time', 0.000000) }} } },
        {"cpu/utilization/state/max-time":    {"uint_value": {{ dct.get('cpu/utilization/state/max-time', 1606720534194840064.000000) }} } },
    {"__prefix__": {"str_value": "/components/component[name='CPU0:CORE1']/"}},
        {"cpu/utilization/state/name":    {"str_value": "{{ dct.get('cpu/utilization/state/name', 'CPU0:CORE1') }}" } },
        {"cpu/utilization/state/instant":    {"uint_value": {{ dct.get('cpu/utilization/state/instant', 5.000000) }} } },
        {"cpu/utilization/state/avg":    {"uint_value": {{ dct.get('cpu/utilization/state/avg', 5.000000) }} } },
        {"cpu/utilization/state/min":    {"uint_value": {{ dct.get('cpu/utilization/state/min', 0.000000) }} } },
        {"cpu/utilization/state/max":    {"uint_value": {{ dct.get('cpu/utilization/state/max', 5.000000) }} } },
        {"cpu/utilization/state/interval":    {"uint_value": {{ dct.get('cpu/utilization/state/interval', 1834396.000000) }} } },
        {"cpu/utilization/state/min-time":    {"uint_value": {{ dct.get('cpu/utilization/state/min-time', 0.000000) }} } },
        {"cpu/utilization/state/max-time":    {"uint_value": {{ dct.get('cpu/utilization/state/max-time', 1606720534194841088.000000) }} } }    ]
},
{"sensor_1009_2_1:/components/:/components/:chassisd":     [
    {"__prefix__": {"str_value": "/components/component[name='Chassis']/"}},
        {"state/name":    {"str_value": "{{ dct.get('state/name', 'Chassis') }}" } },
        {"state/type":    {"str_value": "{{ dct.get('state/type', 'CHASSIS') }}" } },
        {"state/id":    {"str_value": "{{ dct.get('state/id', 'WS3718030057') }}" } },
        {"state/location":    {"str_value": "{{ dct.get('state/location', 'Chassis') }}" } },
        {"state/description":    {"str_value": "{{ dct.get('state/description', 'QFX5110-48S-4C') }}" } },
        {"state/mfg-date":    {"str_value": "{{ dct.get('state/mfg-date', '00-00-0000') }}" } },
        {"state/serial-no":    {"str_value": "{{ dct.get('state/serial-no', 'WS3718030057') }}" } },
        {"state/removable":    {"bool_value": {{ dct.get('state/removable', 'false') }} } },
        {"state/oper-status":    {"str_value": "{{ dct.get('state/oper-status', 'INACTIVE') }}" } },
        {"state/empty":    {"bool_value": {{ dct.get('state/empty', 'false') }} } },
        {"state/temperature/instant":    {"str_value": "{{ dct.get('state/temperature/instant', '0.0') }}" } },
        {"state/memory/available":    {"uint_value": {{ dct.get('state/memory/available', 0.000000) }} } },
        {"state/memory/utilized":    {"uint_value": {{ dct.get('state/memory/utilized', 0.000000) }} } },
        {"state/allocated-power":    {"uint_value": {{ dct.get('state/allocated-power', 0.000000) }} } },
    {"__prefix__": {"str_value": "/components/component[name='Routing Engine0']/"}},
        {"state/name":    {"str_value": "{{ dct.get('state/name', 'Routing Engine0') }}" } },
        {"state/type":    {"str_value": "{{ dct.get('state/type', 'MODULE') }}" } },
        {"state/id":    {"str_value": "{{ dct.get('state/id', 'BUILTIN') }}" } },
        {"state/location":    {"str_value": "{{ dct.get('state/location', 'Routing Engine0') }}" } },
        {"state/description":    {"str_value": "{{ dct.get('state/description', 'RE-QFX5110-48S-4C') }}" } },
        {"state/mfg-date":    {"str_value": "{{ dct.get('state/mfg-date', '02-01-2018') }}" } },
        {"state/serial-no":    {"str_value": "{{ dct.get('state/serial-no', 'BUILTIN') }}" } },
        {"state/part-no":    {"str_value": "{{ dct.get('state/part-no', 'BUILTIN') }}" } },
        {"state/removable":    {"bool_value": {{ dct.get('state/removable', 'false') }} } },
        {"state/oper-status":    {"str_value": "{{ dct.get('state/oper-status', 'ACTIVE') }}" } },
        {"state/empty":    {"bool_value": {{ dct.get('state/empty', 'false') }} } },
        {"state/temperature/instant":    {"str_value": "{{ dct.get('state/temperature/instant', '28.0') }}" } },
        {"state/memory/available":    {"uint_value": {{ dct.get('state/memory/available', 4096.000000) }} } },
        {"state/memory/utilized":    {"uint_value": {{ dct.get('state/memory/utilized', 573.000000) }} } },
        {"state/allocated-power":    {"uint_value": {{ dct.get('state/allocated-power', 0.000000) }} } },
    {"__prefix__": {"str_value": "/components/component[name='Routing Engine0']/properties/property[name='state']/"}},
        {"state/value":    {"str_value": "{{ dct.get('state/value', 'Online Master') }}" } },
        {"state/configurable":    {"bool_value": {{ dct.get('state/configurable', 'true') }} } },
    {"__prefix__": {"str_value": "/components/component[name='Routing Engine0']/properties/property[name='mastership-state']/"}},
        {"state/value":    {"str_value": "{{ dct.get('state/value', 'Master') }}" } },
        {"state/configurable":    {"bool_value": {{ dct.get('state/configurable', 'false') }} } },
    {"__prefix__": {"str_value": "/components/component[name='Routing Engine0']/properties/property[name='temperature']/"}},
        {"state/value":    {"str_value": "{{ dct.get('state/value', '28') }}" } },
        {"state/configurable":    {"bool_value": {{ dct.get('state/configurable', 'false') }} } },
    {"__prefix__": {"str_value": "/components/component[name='Routing Engine0']/properties/property[name='temperature-cpu']/"}},
        {"state/value":    {"str_value": "{{ dct.get('state/value', '28') }}" } },
        {"state/configurable":    {"bool_value": {{ dct.get('state/configurable', 'false') }} } },
    {"__prefix__": {"str_value": "/components/component[name='Routing Engine0']/properties/property[name='cpu-utilization-user']/"}},
        {"state/value":    {"str_value": "{{ dct.get('state/value', '1') }}" } },
        {"state/configurable":    {"bool_value": {{ dct.get('state/configurable', 'false') }} } },
    {"__prefix__": {"str_value": "/components/component[name='Routing Engine0']/properties/property[name='cpu-utilization-background']/"}},
        {"state/value":    {"str_value": "{{ dct.get('state/value', '0') }}" } },
        {"state/configurable":    {"bool_value": {{ dct.get('state/configurable', 'false') }} } },
    {"__prefix__": {"str_value": "/components/component[name='Routing Engine0']/properties/property[name='cpu-utilization-kernel']/"}},
        {"state/value":    {"str_value": "{{ dct.get('state/value', '1') }}" } },
        {"state/configurable":    {"bool_value": {{ dct.get('state/configurable', 'false') }} } },
    {"__prefix__": {"str_value": "/components/component[name='Routing Engine0']/properties/property[name='cpu-utilization-interrupt']/"}},
        {"state/value":    {"str_value": "{{ dct.get('state/value', '0') }}" } },
        {"state/configurable":    {"bool_value": {{ dct.get('state/configurable', 'false') }} } },
    {"__prefix__": {"str_value": "/components/component[name='Routing Engine0']/properties/property[name='cpu-utilization-idle']/"}},
        {"state/value":    {"str_value": "{{ dct.get('state/value', '98') }}" } },
        {"state/configurable":    {"bool_value": {{ dct.get('state/configurable', 'false') }} } },
    {"__prefix__": {"str_value": "/components/component[name='Routing Engine0']/properties/property[name='memory-dram-used']/"}},
        {"state/value":    {"str_value": "{{ dct.get('state/value', '3859') }}" } },
        {"state/configurable":    {"bool_value": {{ dct.get('state/configurable', 'false') }} } },
    {"__prefix__": {"str_value": "/components/component[name='Routing Engine0']/properties/property[name='memory-dram-installed']/"}},
        {"state/value":    {"str_value": "{{ dct.get('state/value', '4096') }}" } },
        {"state/configurable":    {"bool_value": {{ dct.get('state/configurable', 'false') }} } },
    {"__prefix__": {"str_value": "/components/component[name='Routing Engine0']/properties/property[name='memory-utilization-buffer']/"}},
        {"state/value":    {"str_value": "{{ dct.get('state/value', '14') }}" } },
        {"state/configurable":    {"bool_value": {{ dct.get('state/configurable', 'false') }} } },
    {"__prefix__": {"str_value": "/components/component[name='Routing Engine0']/properties/property[name='uptime']/"}},
        {"state/value":    {"str_value": "{{ dct.get('state/value', '888372') }}" } },
        {"state/configurable":    {"bool_value": {{ dct.get('state/configurable', 'false') }} } },
    {"__prefix__": {"str_value": "/components/component[name='Routing Engine0']/properties/property[name='reboot-reason']/"}},
        {"state/value":    {"str_value": "{{ dct.get('state/value', '0x2000:hypervisor reboot') }}" } },
        {"state/configurable":    {"bool_value": {{ dct.get('state/configurable', 'false') }} } },
    {"__prefix__": {"str_value": "/components/component[name='Routing Engine0']/properties/property[name='fru-model-number']/"}},
        {"state/value":    {"str_value": "{{ dct.get('state/value', 'QFX5110-48S-AFI') }}" } },
        {"state/configurable":    {"bool_value": {{ dct.get('state/configurable', 'false') }} } },
    {"__prefix__": {"str_value": "/components/component[name='Routing Engine0']/properties/property[name='firmware-rev']/"}},
        {"state/value":    {"str_value": "{{ dct.get('state/value', 'rev:0.0.0') }}" } },
        {"state/configurable":    {"bool_value": {{ dct.get('state/configurable', 'false') }} } },
    {"__prefix__": {"str_value": "/components/component[name='Routing Engine0']/properties/property[name='manufacture-date']/"}},
        {"state/value":    {"str_value": "{{ dct.get('state/value', 'date:02-01-2018') }}" } },
        {"state/configurable":    {"bool_value": {{ dct.get('state/configurable', 'false') }} } },
    {"__prefix__": {"str_value": "/components/component[name='FPC0']/"}},
        {"state/name":    {"str_value": "{{ dct.get('state/name', 'FPC0') }}" } },
        {"state/type":    {"str_value": "{{ dct.get('state/type', 'LINECARD') }}" } },
        {"state/id":    {"str_value": "{{ dct.get('state/id', 'WS3718030057') }}" } },
        {"state/location":    {"str_value": "{{ dct.get('state/location', 'FPC0') }}" } },
        {"state/description":    {"str_value": "{{ dct.get('state/description', 'QFX5110-48S-4C') }}" } },
        {"state/mfg-date":    {"str_value": "{{ dct.get('state/mfg-date', '02-01-2018') }}" } },
        {"state/hardware-version":    {"str_value": "{{ dct.get('state/hardware-version', 'REV 24') }}" } },
        {"state/serial-no":    {"str_value": "{{ dct.get('state/serial-no', 'WS3718030057') }}" } },
        {"state/part-no":    {"str_value": "{{ dct.get('state/part-no', '650-061154') }}" } },
        {"state/removable":    {"bool_value": {{ dct.get('state/removable', 'true') }} } },
        {"state/oper-status":    {"str_value": "{{ dct.get('state/oper-status', 'ACTIVE') }}" } },
        {"state/empty":    {"bool_value": {{ dct.get('state/empty', 'false') }} } },
        {"state/temperature/instant":    {"str_value": "{{ dct.get('state/temperature/instant', '0.0') }}" } },
        {"state/memory/available":    {"uint_value": {{ dct.get('state/memory/available', 16384.000000) }} } },
        {"state/memory/utilized":    {"uint_value": {{ dct.get('state/memory/utilized', 12451.000000) }} } },
        {"state/allocated-power":    {"uint_value": {{ dct.get('state/allocated-power', 0.000000) }} } },
    {"__prefix__": {"str_value": "/components/component[name='FPC0']/properties/property[name='state']/"}},
        {"state/value":    {"str_value": "{{ dct.get('state/value', 'Online') }}" } },
        {"state/configurable":    {"bool_value": {{ dct.get('state/configurable', 'true') }} } },
    {"__prefix__": {"str_value": "/components/component[name='FPC0']/properties/property[name='temperature-intake']/"}},
        {"state/value":    {"str_value": "{{ dct.get('state/value', '28') }}" } },
        {"state/configurable":    {"bool_value": {{ dct.get('state/configurable', 'false') }} } },
    {"__prefix__": {"str_value": "/components/component[name='FPC0']/properties/property[name='memory-dram-used']/"}},
        {"state/value":    {"str_value": "{{ dct.get('state/value', '16384') }}" } },
        {"state/configurable":    {"bool_value": {{ dct.get('state/configurable', 'false') }} } },
    {"__prefix__": {"str_value": "/components/component[name='FPC0']/properties/property[name='memory-utilization-heap']/"}},
        {"state/value":    {"str_value": "{{ dct.get('state/value', '27') }}" } },
        {"state/configurable":    {"bool_value": {{ dct.get('state/configurable', 'false') }} } },
    {"__prefix__": {"str_value": "/components/component[name='FPC0']/properties/property[name='memory-utilization-buffer']/"}},
        {"state/value":    {"str_value": "{{ dct.get('state/value', '49') }}" } },
        {"state/configurable":    {"bool_value": {{ dct.get('state/configurable', 'false') }} } },
    {"__prefix__": {"str_value": "/components/component[name='FPC0']/properties/property[name='uptime']/"}},
        {"state/value":    {"str_value": "{{ dct.get('state/value', '815011') }}" } },
        {"state/configurable":    {"bool_value": {{ dct.get('state/configurable', 'false') }} } },
    {"__prefix__": {"str_value": "/components/component[name='FPC0:CPU']/"}},
        {"state/name":    {"str_value": "{{ dct.get('state/name', 'FPC0:CPU') }}" } },
        {"state/type":    {"str_value": "{{ dct.get('state/type', 'CPU') }}" } },
        {"state/id":    {"str_value": "{{ dct.get('state/id', 'BUILTIN') }}" } },
        {"state/location":    {"str_value": "{{ dct.get('state/location', 'FPC0:CPU') }}" } },
        {"state/description":    {"str_value": "{{ dct.get('state/description', 'FPC CPU') }}" } },
        {"state/mfg-date":    {"str_value": "{{ dct.get('state/mfg-date', '02-01-2018') }}" } },
        {"state/serial-no":    {"str_value": "{{ dct.get('state/serial-no', 'BUILTIN') }}" } },
        {"state/part-no":    {"str_value": "{{ dct.get('state/part-no', 'BUILTIN') }}" } },
        {"state/removable":    {"bool_value": {{ dct.get('state/removable', 'false') }} } },
        {"state/oper-status":    {"str_value": "{{ dct.get('state/oper-status', 'INACTIVE') }}" } },
        {"state/empty":    {"bool_value": {{ dct.get('state/empty', 'false') }} } },
        {"state/parent":    {"str_value": "{{ dct.get('state/parent', 'FPC0') }}" } },
        {"state/temperature/instant":    {"str_value": "{{ dct.get('state/temperature/instant', '0.0') }}" } },
        {"state/memory/available":    {"uint_value": {{ dct.get('state/memory/available', 0.000000) }} } },
        {"state/memory/utilized":    {"uint_value": {{ dct.get('state/memory/utilized', 0.000000) }} } },
        {"state/allocated-power":    {"uint_value": {{ dct.get('state/allocated-power', 0.000000) }} } },
    {"__prefix__": {"str_value": "/components/component[name='FPC0:CPU']/properties/property[name='cpu-utilization-total']/"}},
        {"state/value":    {"str_value": "{{ dct.get('state/value', '6') }}" } },
        {"state/configurable":    {"bool_value": {{ dct.get('state/configurable', 'false') }} } },
    {"__prefix__": {"str_value": "/components/component[name='FPC0:PIC0']/"}},
        {"state/name":    {"str_value": "{{ dct.get('state/name', 'FPC0:PIC0') }}" } },
        {"state/type":    {"str_value": "{{ dct.get('state/type', 'MODULE') }}" } },
        {"state/id":    {"str_value": "{{ dct.get('state/id', 'BUILTIN') }}" } },
        {"state/location":    {"str_value": "{{ dct.get('state/location', 'FPC0:PIC0') }}" } },
        {"state/description":    {"str_value": "{{ dct.get('state/description', '48x10G-4x100G') }}" } },
        {"state/mfg-date":    {"str_value": "{{ dct.get('state/mfg-date', '02-01-2018') }}" } },
        {"state/serial-no":    {"str_value": "{{ dct.get('state/serial-no', 'BUILTIN') }}" } },
        {"state/part-no":    {"str_value": "{{ dct.get('state/part-no', 'BUILTIN') }}" } },
        {"state/removable":    {"bool_value": {{ dct.get('state/removable', 'false') }} } },
        {"state/oper-status":    {"str_value": "{{ dct.get('state/oper-status', 'ACTIVE') }}" } },
        {"state/empty":    {"bool_value": {{ dct.get('state/empty', 'false') }} } },
        {"state/parent":    {"str_value": "{{ dct.get('state/parent', 'FPC0') }}" } },
        {"state/temperature/instant":    {"str_value": "{{ dct.get('state/temperature/instant', '0.0') }}" } },
        {"state/memory/available":    {"uint_value": {{ dct.get('state/memory/available', 0.000000) }} } },
        {"state/memory/utilized":    {"uint_value": {{ dct.get('state/memory/utilized', 0.000000) }} } },
        {"state/allocated-power":    {"uint_value": {{ dct.get('state/allocated-power', 0.000000) }} } },
    {"__prefix__": {"str_value": "/components/component[name='FPC0:PIC0']/properties/property[name='state']/"}},
        {"state/value":    {"str_value": "{{ dct.get('state/value', 'Online') }}" } },
        {"state/configurable":    {"bool_value": {{ dct.get('state/configurable', 'true') }} } },
    {"__prefix__": {"str_value": "/components/component[name='FPC0:PIC0']/properties/property[name='uptime']/"}},
        {"state/value":    {"str_value": "{{ dct.get('state/value', '814942') }}" } },
        {"state/configurable":    {"bool_value": {{ dct.get('state/configurable', 'false') }} } },
    {"__prefix__": {"str_value": "/components/component[name='FPC0:PIC0']/properties/property[name='fru-model-number']/"}},
        {"state/value":    {"str_value": "{{ dct.get('state/value', 'QFX5110-48S-AFI') }}" } },
        {"state/configurable":    {"bool_value": {{ dct.get('state/configurable', 'false') }} } },
    {"__prefix__": {"str_value": "/components/component[name='FPC0:PIC0']/properties/property[name='manufacture-date']/"}},
        {"state/value":    {"str_value": "{{ dct.get('state/value', 'date:02-01-2018') }}" } },
        {"state/configurable":    {"bool_value": {{ dct.get('state/configurable', 'false') }} } },
    {"__prefix__": {"str_value": "/components/component[name='FPC0:PIC0']/subcomponents/subcomponent[name='FPC0:PIC0:PORT0']/"}},
        {"state/name":    {"str_value": "{{ dct.get('state/name', 'FPC0:PIC0:PORT0') }}" } },
    {"__prefix__": {"str_value": "/components/component[name='FPC0:PIC0']/subcomponents/subcomponent[name='FPC0:PIC0:PORT1']/"}},
        {"state/name":    {"str_value": "{{ dct.get('state/name', 'FPC0:PIC0:PORT1') }}" } },
    {"__prefix__": {"str_value": "/components/component[name='FPC0:PIC0']/subcomponents/subcomponent[name='FPC0:PIC0:PORT2']/"}},
        {"state/name":    {"str_value": "{{ dct.get('state/name', 'FPC0:PIC0:PORT2') }}" } },
    {"__prefix__": {"str_value": "/components/component[name='FPC0:PIC0']/subcomponents/subcomponent[name='FPC0:PIC0:PORT5']/"}},
        {"state/name":    {"str_value": "{{ dct.get('state/name', 'FPC0:PIC0:PORT5') }}" } },
    {"__prefix__": {"str_value": "/components/component[name='FPC0:PIC0']/subcomponents/subcomponent[name='FPC0:PIC0:PORT6']/"}},
        {"state/name":    {"str_value": "{{ dct.get('state/name', 'FPC0:PIC0:PORT6') }}" } },
    {"__prefix__": {"str_value": "/components/component[name='FPC0:PIC0']/subcomponents/subcomponent[name='FPC0:PIC0:PORT8']/"}},
        {"state/name":    {"str_value": "{{ dct.get('state/name', 'FPC0:PIC0:PORT8') }}" } },
    {"__prefix__": {"str_value": "/components/component[name='FPC0:PIC0']/subcomponents/subcomponent[name='FPC0:PIC0:PORT42']/"}},
        {"state/name":    {"str_value": "{{ dct.get('state/name', 'FPC0:PIC0:PORT42') }}" } },
    {"__prefix__": {"str_value": "/components/component[name='FPC0:PIC0']/subcomponents/subcomponent[name='FPC0:PIC0:PORT44']/"}},
        {"state/name":    {"str_value": "{{ dct.get('state/name', 'FPC0:PIC0:PORT44') }}" } },
    {"__prefix__": {"str_value": "/components/component[name='FPC0:PIC0']/subcomponents/subcomponent[name='FPC0:PIC0:PORT45']/"}},
        {"state/name":    {"str_value": "{{ dct.get('state/name', 'FPC0:PIC0:PORT45') }}" } },
    {"__prefix__": {"str_value": "/components/component[name='FPC0:PIC0']/subcomponents/subcomponent[name='FPC0:PIC0:PORT46']/"}},
        {"state/name":    {"str_value": "{{ dct.get('state/name', 'FPC0:PIC0:PORT46') }}" } },
    {"__prefix__": {"str_value": "/components/component[name='FPC0:PIC0']/subcomponents/subcomponent[name='FPC0:PIC0:PORT47']/"}},
        {"state/name":    {"str_value": "{{ dct.get('state/name', 'FPC0:PIC0:PORT47') }}" } },
    {"__prefix__": {"str_value": "/components/component[name='FPC0:PIC0']/subcomponents/subcomponent[name='FPC0:PIC0:PORT48']/"}},
        {"state/name":    {"str_value": "{{ dct.get('state/name', 'FPC0:PIC0:PORT48') }}" } },
    {"__prefix__": {"str_value": "/components/component[name='FPC0:PIC0']/subcomponents/subcomponent[name='FPC0:PIC0:PORT49']/"}},
        {"state/name":    {"str_value": "{{ dct.get('state/name', 'FPC0:PIC0:PORT49') }}" } },
    {"__prefix__": {"str_value": "/components/component[name='FPC0:PIC0']/subcomponents/subcomponent[name='FPC0:PIC0:PORT50']/"}},
        {"state/name":    {"str_value": "{{ dct.get('state/name', 'FPC0:PIC0:PORT50') }}" } },
    {"__prefix__": {"str_value": "/components/component[name='FPC0:PIC0:PORT0']/"}},
        {"state/name":    {"str_value": "{{ dct.get('state/name', 'FPC0:PIC0:PORT0') }}" } },
        {"state/type":    {"str_value": "{{ dct.get('state/type', 'PORT') }}" } },
        {"state/id":    {"str_value": "{{ dct.get('state/id', 'APF140800239D7') }}" } },
        {"state/location":    {"str_value": "{{ dct.get('state/location', 'FPC0:PIC0:PORT0') }}" } },
        {"state/description":    {"str_value": "{{ dct.get('state/description', 'SFP+-10G-CU3M') }}" } },
        {"state/mfg-name":    {"str_value": "{{ dct.get('state/mfg-name', 'Amphenol') }}" } },
        {"state/hardware-version":    {"str_value": "{{ dct.get('state/hardware-version', 'REV 01') }}" } },
        {"state/serial-no":    {"str_value": "{{ dct.get('state/serial-no', 'APF140800239D7') }}" } },
        {"state/part-no":    {"str_value": "{{ dct.get('state/part-no', '740-030077') }}" } },
        {"state/removable":    {"bool_value": {{ dct.get('state/removable', 'false') }} } },
        {"state/empty":    {"bool_value": {{ dct.get('state/empty', 'false') }} } },
        {"state/parent":    {"str_value": "{{ dct.get('state/parent', 'FPC0:PIC0') }}" } },
        {"state/temperature/instant":    {"str_value": "{{ dct.get('state/temperature/instant', '0.0') }}" } },
        {"state/memory/available":    {"uint_value": {{ dct.get('state/memory/available', 0.000000) }} } },
        {"state/memory/utilized":    {"uint_value": {{ dct.get('state/memory/utilized', 0.000000) }} } },
        {"state/allocated-power":    {"uint_value": {{ dct.get('state/allocated-power', 0.000000) }} } },
    {"__prefix__": {"str_value": "/components/component[name='FPC0:PIC0:PORT1']/"}},
        {"state/name":    {"str_value": "{{ dct.get('state/name', 'FPC0:PIC0:PORT1') }}" } },
        {"state/type":    {"str_value": "{{ dct.get('state/type', 'PORT') }}" } },
        {"state/id":    {"str_value": "{{ dct.get('state/id', 'AD170230GTJ') }}" } },
        {"state/location":    {"str_value": "{{ dct.get('state/location', 'FPC0:PIC0:PORT1') }}" } },
        {"state/description":    {"str_value": "{{ dct.get('state/description', 'SFP+-10G-SR') }}" } },
        {"state/mfg-name":    {"str_value": "{{ dct.get('state/mfg-name', 'AVAGO') }}" } },
        {"state/hardware-version":    {"str_value": "{{ dct.get('state/hardware-version', 'REV 01') }}" } },
        {"state/serial-no":    {"str_value": "{{ dct.get('state/serial-no', 'AD170230GTJ') }}" } },
        {"state/part-no":    {"str_value": "{{ dct.get('state/part-no', '740-021308') }}" } },
        {"state/removable":    {"bool_value": {{ dct.get('state/removable', 'false') }} } },
        {"state/empty":    {"bool_value": {{ dct.get('state/empty', 'false') }} } },
        {"state/parent":    {"str_value": "{{ dct.get('state/parent', 'FPC0:PIC0') }}" } },
        {"state/temperature/instant":    {"str_value": "{{ dct.get('state/temperature/instant', '0.0') }}" } },
        {"state/memory/available":    {"uint_value": {{ dct.get('state/memory/available', 0.000000) }} } },
        {"state/memory/utilized":    {"uint_value": {{ dct.get('state/memory/utilized', 0.000000) }} } },
        {"state/allocated-power":    {"uint_value": {{ dct.get('state/allocated-power', 0.000000) }} } },
    {"__prefix__": {"str_value": "/components/component[name='FPC0:PIC0:PORT2']/"}},
        {"state/name":    {"str_value": "{{ dct.get('state/name', 'FPC0:PIC0:PORT2') }}" } },
        {"state/type":    {"str_value": "{{ dct.get('state/type', 'PORT') }}" } },
        {"state/id":    {"str_value": "{{ dct.get('state/id', 'AD1702307VB') }}" } },
        {"state/location":    {"str_value": "{{ dct.get('state/location', 'FPC0:PIC0:PORT2') }}" } },
        {"state/description":    {"str_value": "{{ dct.get('state/description', 'SFP+-10G-SR') }}" } },
        {"state/mfg-name":    {"str_value": "{{ dct.get('state/mfg-name', 'AVAGO') }}" } },
        {"state/hardware-version":    {"str_value": "{{ dct.get('state/hardware-version', 'REV 01') }}" } },
        {"state/serial-no":    {"str_value": "{{ dct.get('state/serial-no', 'AD1702307VB') }}" } },
        {"state/part-no":    {"str_value": "{{ dct.get('state/part-no', '740-021308') }}" } },
        {"state/removable":    {"bool_value": {{ dct.get('state/removable', 'false') }} } },
        {"state/empty":    {"bool_value": {{ dct.get('state/empty', 'false') }} } },
        {"state/parent":    {"str_value": "{{ dct.get('state/parent', 'FPC0:PIC0') }}" } },
        {"state/temperature/instant":    {"str_value": "{{ dct.get('state/temperature/instant', '0.0') }}" } },
        {"state/memory/available":    {"uint_value": {{ dct.get('state/memory/available', 0.000000) }} } },
        {"state/memory/utilized":    {"uint_value": {{ dct.get('state/memory/utilized', 0.000000) }} } },
        {"state/allocated-power":    {"uint_value": {{ dct.get('state/allocated-power', 0.000000) }} } },
    {"__prefix__": {"str_value": "/components/component[name='FPC0:PIC0:PORT5']/"}},
        {"state/name":    {"str_value": "{{ dct.get('state/name', 'FPC0:PIC0:PORT5') }}" } },
        {"state/type":    {"str_value": "{{ dct.get('state/type', 'PORT') }}" } },
        {"state/id":    {"str_value": "{{ dct.get('state/id', 'APF164800484RT') }}" } },
        {"state/location":    {"str_value": "{{ dct.get('state/location', 'FPC0:PIC0:PORT5') }}" } },
        {"state/description":    {"str_value": "{{ dct.get('state/description', 'SFP+-10G-CU2M') }}" } },
        {"state/mfg-name":    {"str_value": "{{ dct.get('state/mfg-name', 'Amphenol') }}" } },
        {"state/serial-no":    {"str_value": "{{ dct.get('state/serial-no', 'APF164800484RT') }}" } },
        {"state/part-no":    {"str_value": "{{ dct.get('state/part-no', 'NON-JNPR') }}" } },
        {"state/removable":    {"bool_value": {{ dct.get('state/removable', 'false') }} } },
        {"state/empty":    {"bool_value": {{ dct.get('state/empty', 'false') }} } },
        {"state/parent":    {"str_value": "{{ dct.get('state/parent', 'FPC0:PIC0') }}" } },
        {"state/temperature/instant":    {"str_value": "{{ dct.get('state/temperature/instant', '0.0') }}" } },
        {"state/memory/available":    {"uint_value": {{ dct.get('state/memory/available', 0.000000) }} } },
        {"state/memory/utilized":    {"uint_value": {{ dct.get('state/memory/utilized', 0.000000) }} } },
        {"state/allocated-power":    {"uint_value": {{ dct.get('state/allocated-power', 0.000000) }} } },
    {"__prefix__": {"str_value": "/components/component[name='FPC0:PIC0:PORT6']/"}},
        {"state/name":    {"str_value": "{{ dct.get('state/name', 'FPC0:PIC0:PORT6') }}" } },
        {"state/type":    {"str_value": "{{ dct.get('state/type', 'PORT') }}" } },
        {"state/id":    {"str_value": "{{ dct.get('state/id', 'APF140800239E6') }}" } },
        {"state/location":    {"str_value": "{{ dct.get('state/location', 'FPC0:PIC0:PORT6') }}" } },
        {"state/description":    {"str_value": "{{ dct.get('state/description', 'SFP+-10G-CU3M') }}" } },
        {"state/mfg-name":    {"str_value": "{{ dct.get('state/mfg-name', 'Amphenol') }}" } },
        {"state/hardware-version":    {"str_value": "{{ dct.get('state/hardware-version', 'REV 01') }}" } },
        {"state/serial-no":    {"str_value": "{{ dct.get('state/serial-no', 'APF140800239E6') }}" } },
        {"state/part-no":    {"str_value": "{{ dct.get('state/part-no', '740-030077') }}" } },
        {"state/removable":    {"bool_value": {{ dct.get('state/removable', 'false') }} } },
        {"state/empty":    {"bool_value": {{ dct.get('state/empty', 'false') }} } },
        {"state/parent":    {"str_value": "{{ dct.get('state/parent', 'FPC0:PIC0') }}" } },
        {"state/temperature/instant":    {"str_value": "{{ dct.get('state/temperature/instant', '0.0') }}" } },
        {"state/memory/available":    {"uint_value": {{ dct.get('state/memory/available', 0.000000) }} } },
        {"state/memory/utilized":    {"uint_value": {{ dct.get('state/memory/utilized', 0.000000) }} } },
        {"state/allocated-power":    {"uint_value": {{ dct.get('state/allocated-power', 0.000000) }} } },
    {"__prefix__": {"str_value": "/components/component[name='FPC0:PIC0:PORT8']/"}},
        {"state/name":    {"str_value": "{{ dct.get('state/name', 'FPC0:PIC0:PORT8') }}" } },
        {"state/type":    {"str_value": "{{ dct.get('state/type', 'PORT') }}" } },
        {"state/id":    {"str_value": "{{ dct.get('state/id', 'APF140800239F4') }}" } },
        {"state/location":    {"str_value": "{{ dct.get('state/location', 'FPC0:PIC0:PORT8') }}" } },
        {"state/description":    {"str_value": "{{ dct.get('state/description', 'SFP+-10G-CU3M') }}" } },
        {"state/mfg-name":    {"str_value": "{{ dct.get('state/mfg-name', 'Amphenol') }}" } },
        {"state/hardware-version":    {"str_value": "{{ dct.get('state/hardware-version', 'REV 01') }}" } },
        {"state/serial-no":    {"str_value": "{{ dct.get('state/serial-no', 'APF140800239F4') }}" } },
        {"state/part-no":    {"str_value": "{{ dct.get('state/part-no', '740-030077') }}" } },
        {"state/removable":    {"bool_value": {{ dct.get('state/removable', 'false') }} } },
        {"state/empty":    {"bool_value": {{ dct.get('state/empty', 'false') }} } },
        {"state/parent":    {"str_value": "{{ dct.get('state/parent', 'FPC0:PIC0') }}" } },
        {"state/temperature/instant":    {"str_value": "{{ dct.get('state/temperature/instant', '0.0') }}" } },
        {"state/memory/available":    {"uint_value": {{ dct.get('state/memory/available', 0.000000) }} } },
        {"state/memory/utilized":    {"uint_value": {{ dct.get('state/memory/utilized', 0.000000) }} } },
        {"state/allocated-power":    {"uint_value": {{ dct.get('state/allocated-power', 0.000000) }} } },
    {"__prefix__": {"str_value": "/components/component[name='FPC0:PIC0:PORT42']/"}},
        {"state/name":    {"str_value": "{{ dct.get('state/name', 'FPC0:PIC0:PORT42') }}" } },
        {"state/type":    {"str_value": "{{ dct.get('state/type', 'PORT') }}" } },
        {"state/id":    {"str_value": "{{ dct.get('state/id', 'APF16420047H2M') }}" } },
        {"state/location":    {"str_value": "{{ dct.get('state/location', 'FPC0:PIC0:PORT42') }}" } },
        {"state/description":    {"str_value": "{{ dct.get('state/description', 'SFP+-10G-CU2M') }}" } },
        {"state/mfg-name":    {"str_value": "{{ dct.get('state/mfg-name', 'Amphenol') }}" } },
        {"state/serial-no":    {"str_value": "{{ dct.get('state/serial-no', 'APF16420047H2M') }}" } },
        {"state/part-no":    {"str_value": "{{ dct.get('state/part-no', 'NON-JNPR') }}" } },
        {"state/removable":    {"bool_value": {{ dct.get('state/removable', 'false') }} } },
        {"state/empty":    {"bool_value": {{ dct.get('state/empty', 'false') }} } },
        {"state/parent":    {"str_value": "{{ dct.get('state/parent', 'FPC0:PIC0') }}" } },
        {"state/temperature/instant":    {"str_value": "{{ dct.get('state/temperature/instant', '0.0') }}" } },
        {"state/memory/available":    {"uint_value": {{ dct.get('state/memory/available', 0.000000) }} } },
        {"state/memory/utilized":    {"uint_value": {{ dct.get('state/memory/utilized', 0.000000) }} } },
        {"state/allocated-power":    {"uint_value": {{ dct.get('state/allocated-power', 0.000000) }} } },
    {"__prefix__": {"str_value": "/components/component[name='FPC0:PIC0:PORT44']/"}},
        {"state/name":    {"str_value": "{{ dct.get('state/name', 'FPC0:PIC0:PORT44') }}" } },
        {"state/type":    {"str_value": "{{ dct.get('state/type', 'PORT') }}" } },
        {"state/id":    {"str_value": "{{ dct.get('state/id', 'ADD3D29B3998C1') }}" } },
        {"state/location":    {"str_value": "{{ dct.get('state/location', 'FPC0:PIC0:PORT44') }}" } },
        {"state/description":    {"str_value": "{{ dct.get('state/description', 'SFP+-10G-CU3M') }}" } },
        {"state/mfg-name":    {"str_value": "{{ dct.get('state/mfg-name', 'ADDON') }}" } },
        {"state/hardware-version":    {"str_value": "{{ dct.get('state/hardware-version', 'REV 01') }}" } },
        {"state/serial-no":    {"str_value": "{{ dct.get('state/serial-no', 'ADD3D29B3998C1') }}" } },
        {"state/part-no":    {"str_value": "{{ dct.get('state/part-no', '740-030077') }}" } },
        {"state/removable":    {"bool_value": {{ dct.get('state/removable', 'false') }} } },
        {"state/empty":    {"bool_value": {{ dct.get('state/empty', 'false') }} } },
        {"state/parent":    {"str_value": "{{ dct.get('state/parent', 'FPC0:PIC0') }}" } },
        {"state/temperature/instant":    {"str_value": "{{ dct.get('state/temperature/instant', '0.0') }}" } },
        {"state/memory/available":    {"uint_value": {{ dct.get('state/memory/available', 0.000000) }} } },
        {"state/memory/utilized":    {"uint_value": {{ dct.get('state/memory/utilized', 0.000000) }} } },
        {"state/allocated-power":    {"uint_value": {{ dct.get('state/allocated-power', 0.000000) }} } },
    {"__prefix__": {"str_value": "/components/component[name='FPC0:PIC0:PORT45']/"}},
        {"state/name":    {"str_value": "{{ dct.get('state/name', 'FPC0:PIC0:PORT45') }}" } },
        {"state/type":    {"str_value": "{{ dct.get('state/type', 'PORT') }}" } },
        {"state/id":    {"str_value": "{{ dct.get('state/id', 'ADD3D29B3998C2') }}" } },
        {"state/location":    {"str_value": "{{ dct.get('state/location', 'FPC0:PIC0:PORT45') }}" } },
        {"state/description":    {"str_value": "{{ dct.get('state/description', 'SFP+-10G-CU3M') }}" } },
        {"state/mfg-name":    {"str_value": "{{ dct.get('state/mfg-name', 'ADDON') }}" } },
        {"state/hardware-version":    {"str_value": "{{ dct.get('state/hardware-version', 'REV 01') }}" } },
        {"state/serial-no":    {"str_value": "{{ dct.get('state/serial-no', 'ADD3D29B3998C2') }}" } },
        {"state/part-no":    {"str_value": "{{ dct.get('state/part-no', '740-030077') }}" } },
        {"state/removable":    {"bool_value": {{ dct.get('state/removable', 'false') }} } },
        {"state/empty":    {"bool_value": {{ dct.get('state/empty', 'false') }} } },
        {"state/parent":    {"str_value": "{{ dct.get('state/parent', 'FPC0:PIC0') }}" } },
        {"state/temperature/instant":    {"str_value": "{{ dct.get('state/temperature/instant', '0.0') }}" } },
        {"state/memory/available":    {"uint_value": {{ dct.get('state/memory/available', 0.000000) }} } },
        {"state/memory/utilized":    {"uint_value": {{ dct.get('state/memory/utilized', 0.000000) }} } },
        {"state/allocated-power":    {"uint_value": {{ dct.get('state/allocated-power', 0.000000) }} } },
    {"__prefix__": {"str_value": "/components/component[name='FPC0:PIC0:PORT46']/"}},
        {"state/name":    {"str_value": "{{ dct.get('state/name', 'FPC0:PIC0:PORT46') }}" } },
        {"state/type":    {"str_value": "{{ dct.get('state/type', 'PORT') }}" } },
        {"state/id":    {"str_value": "{{ dct.get('state/id', 'ADD3D29B3987C1') }}" } },
        {"state/location":    {"str_value": "{{ dct.get('state/location', 'FPC0:PIC0:PORT46') }}" } },
        {"state/description":    {"str_value": "{{ dct.get('state/description', 'SFP+-10G-CU3M') }}" } },
        {"state/mfg-name":    {"str_value": "{{ dct.get('state/mfg-name', 'ADDON') }}" } },
        {"state/hardware-version":    {"str_value": "{{ dct.get('state/hardware-version', 'REV 01') }}" } },
        {"state/serial-no":    {"str_value": "{{ dct.get('state/serial-no', 'ADD3D29B3987C1') }}" } },
        {"state/part-no":    {"str_value": "{{ dct.get('state/part-no', '740-030077') }}" } },
        {"state/removable":    {"bool_value": {{ dct.get('state/removable', 'false') }} } },
        {"state/empty":    {"bool_value": {{ dct.get('state/empty', 'false') }} } },
        {"state/parent":    {"str_value": "{{ dct.get('state/parent', 'FPC0:PIC0') }}" } },
        {"state/temperature/instant":    {"str_value": "{{ dct.get('state/temperature/instant', '0.0') }}" } },
        {"state/memory/available":    {"uint_value": {{ dct.get('state/memory/available', 0.000000) }} } },
        {"state/memory/utilized":    {"uint_value": {{ dct.get('state/memory/utilized', 0.000000) }} } },
        {"state/allocated-power":    {"uint_value": {{ dct.get('state/allocated-power', 0.000000) }} } },
    {"__prefix__": {"str_value": "/components/component[name='FPC0:PIC0:PORT47']/"}},
        {"state/name":    {"str_value": "{{ dct.get('state/name', 'FPC0:PIC0:PORT47') }}" } },
        {"state/type":    {"str_value": "{{ dct.get('state/type', 'PORT') }}" } },
        {"state/id":    {"str_value": "{{ dct.get('state/id', 'ADD3D29B3987C2') }}" } },
        {"state/location":    {"str_value": "{{ dct.get('state/location', 'FPC0:PIC0:PORT47') }}" } },
        {"state/description":    {"str_value": "{{ dct.get('state/description', 'SFP+-10G-CU3M') }}" } },
        {"state/mfg-name":    {"str_value": "{{ dct.get('state/mfg-name', 'ADDON') }}" } },
        {"state/hardware-version":    {"str_value": "{{ dct.get('state/hardware-version', 'REV 01') }}" } },
        {"state/serial-no":    {"str_value": "{{ dct.get('state/serial-no', 'ADD3D29B3987C2') }}" } },
        {"state/part-no":    {"str_value": "{{ dct.get('state/part-no', '740-030077') }}" } },
        {"state/removable":    {"bool_value": {{ dct.get('state/removable', 'false') }} } },
        {"state/empty":    {"bool_value": {{ dct.get('state/empty', 'false') }} } },
        {"state/parent":    {"str_value": "{{ dct.get('state/parent', 'FPC0:PIC0') }}" } },
        {"state/temperature/instant":    {"str_value": "{{ dct.get('state/temperature/instant', '0.0') }}" } },
        {"state/memory/available":    {"uint_value": {{ dct.get('state/memory/available', 0.000000) }} } },
        {"state/memory/utilized":    {"uint_value": {{ dct.get('state/memory/utilized', 0.000000) }} } },
        {"state/allocated-power":    {"uint_value": {{ dct.get('state/allocated-power', 0.000000) }} } },
    {"__prefix__": {"str_value": "/components/component[name='FPC0:PIC0:PORT48']/"}},
        {"state/name":    {"str_value": "{{ dct.get('state/name', 'FPC0:PIC0:PORT48') }}" } },
        {"state/type":    {"str_value": "{{ dct.get('state/type', 'PORT') }}" } },
        {"state/id":    {"str_value": "{{ dct.get('state/id', 'APF16230010A9M') }}" } },
        {"state/location":    {"str_value": "{{ dct.get('state/location', 'FPC0:PIC0:PORT48') }}" } },
        {"state/description":    {"str_value": "{{ dct.get('state/description', 'QSFP+-40G-CU1M') }}" } },
        {"state/mfg-name":    {"str_value": "{{ dct.get('state/mfg-name', 'Amphenol') }}" } },
        {"state/serial-no":    {"str_value": "{{ dct.get('state/serial-no', 'APF16230010A9M') }}" } },
        {"state/part-no":    {"str_value": "{{ dct.get('state/part-no', 'NON-JNPR') }}" } },
        {"state/removable":    {"bool_value": {{ dct.get('state/removable', 'false') }} } },
        {"state/empty":    {"bool_value": {{ dct.get('state/empty', 'false') }} } },
        {"state/parent":    {"str_value": "{{ dct.get('state/parent', 'FPC0:PIC0') }}" } },
        {"state/temperature/instant":    {"str_value": "{{ dct.get('state/temperature/instant', '0.0') }}" } },
        {"state/memory/available":    {"uint_value": {{ dct.get('state/memory/available', 0.000000) }} } },
        {"state/memory/utilized":    {"uint_value": {{ dct.get('state/memory/utilized', 0.000000) }} } },
        {"state/allocated-power":    {"uint_value": {{ dct.get('state/allocated-power', 0.000000) }} } },
    {"__prefix__": {"str_value": "/components/component[name='FPC0:PIC0:PORT49']/"}},
        {"state/name":    {"str_value": "{{ dct.get('state/name', 'FPC0:PIC0:PORT49') }}" } },
        {"state/type":    {"str_value": "{{ dct.get('state/type', 'PORT') }}" } },
        {"state/id":    {"str_value": "{{ dct.get('state/id', 'APF16230010ABY') }}" } },
        {"state/location":    {"str_value": "{{ dct.get('state/location', 'FPC0:PIC0:PORT49') }}" } },
        {"state/description":    {"str_value": "{{ dct.get('state/description', 'QSFP+-40G-CU1M') }}" } },
        {"state/mfg-name":    {"str_value": "{{ dct.get('state/mfg-name', 'Amphenol') }}" } },
        {"state/serial-no":    {"str_value": "{{ dct.get('state/serial-no', 'APF16230010ABY') }}" } },
        {"state/part-no":    {"str_value": "{{ dct.get('state/part-no', 'NON-JNPR') }}" } },
        {"state/removable":    {"bool_value": {{ dct.get('state/removable', 'false') }} } },
        {"state/empty":    {"bool_value": {{ dct.get('state/empty', 'false') }} } },
        {"state/parent":    {"str_value": "{{ dct.get('state/parent', 'FPC0:PIC0') }}" } },
        {"state/temperature/instant":    {"str_value": "{{ dct.get('state/temperature/instant', '0.0') }}" } },
        {"state/memory/available":    {"uint_value": {{ dct.get('state/memory/available', 0.000000) }} } },
        {"state/memory/utilized":    {"uint_value": {{ dct.get('state/memory/utilized', 0.000000) }} } },
        {"state/allocated-power":    {"uint_value": {{ dct.get('state/allocated-power', 0.000000) }} } },
    {"__prefix__": {"str_value": "/components/component[name='FPC0:PIC0:PORT50']/"}},
        {"state/name":    {"str_value": "{{ dct.get('state/name', 'FPC0:PIC0:PORT50') }}" } },
        {"state/type":    {"str_value": "{{ dct.get('state/type', 'PORT') }}" } },
        {"state/id":    {"str_value": "{{ dct.get('state/id', 'APF16434170AH4') }}" } },
        {"state/location":    {"str_value": "{{ dct.get('state/location', 'FPC0:PIC0:PORT50') }}" } },
        {"state/description":    {"str_value": "{{ dct.get('state/description', 'QSFP+-40G-CU1M') }}" } },
        {"state/mfg-name":    {"str_value": "{{ dct.get('state/mfg-name', 'Amphenol') }}" } },
        {"state/serial-no":    {"str_value": "{{ dct.get('state/serial-no', 'APF16434170AH4') }}" } },
        {"state/part-no":    {"str_value": "{{ dct.get('state/part-no', 'NON-JNPR') }}" } },
        {"state/removable":    {"bool_value": {{ dct.get('state/removable', 'false') }} } },
        {"state/empty":    {"bool_value": {{ dct.get('state/empty', 'false') }} } },
        {"state/parent":    {"str_value": "{{ dct.get('state/parent', 'FPC0:PIC0') }}" } },
        {"state/temperature/instant":    {"str_value": "{{ dct.get('state/temperature/instant', '0.0') }}" } },
        {"state/memory/available":    {"uint_value": {{ dct.get('state/memory/available', 0.000000) }} } },
        {"state/memory/utilized":    {"uint_value": {{ dct.get('state/memory/utilized', 0.000000) }} } },
        {"state/allocated-power":    {"uint_value": {{ dct.get('state/allocated-power', 0.000000) }} } },
    {"__prefix__": {"str_value": "/components/component[name='FPC0:PIC0:PORT0:Xcvr0']/"}},
        {"state/name":    {"str_value": "{{ dct.get('state/name', 'FPC0:PIC0:PORT0:Xcvr0') }}" } },
        {"state/location":    {"str_value": "{{ dct.get('state/location', 'FPC0:PIC0:PORT0:Xcvr0') }}" } },
        {"state/removable":    {"bool_value": {{ dct.get('state/removable', 'true') }} } },
        {"state/empty":    {"bool_value": {{ dct.get('state/empty', 'false') }} } },
        {"state/parent":    {"str_value": "{{ dct.get('state/parent', 'FPC0:PIC0:PORT0') }}" } },
        {"state/temperature/instant":    {"str_value": "{{ dct.get('state/temperature/instant', '0.0') }}" } },
        {"state/memory/available":    {"uint_value": {{ dct.get('state/memory/available', 0.000000) }} } },
        {"state/memory/utilized":    {"uint_value": {{ dct.get('state/memory/utilized', 0.000000) }} } },
        {"state/allocated-power":    {"uint_value": {{ dct.get('state/allocated-power', 0.000000) }} } },
        {"transceiver/state/form-factor-preconf":    {"str_value": "{{ dct.get('transceiver/state/form-factor-preconf', 'SFP+-10G-CU3M') }}" } },
        {"transceiver/state/ethernet-pmd-preconf":    {"str_value": "{{ dct.get('transceiver/state/ethernet-pmd-preconf', '10GBASE CU 3M') }}" } },
        {"transceiver/state/present":    {"str_value": "{{ dct.get('transceiver/state/present', 'PRESENT') }}" } },
        {"transceiver/state/form-factor":    {"str_value": "{{ dct.get('transceiver/state/form-factor', 'SFP+-10G-CU3M') }}" } },
        {"transceiver/state/connector-type":    {"str_value": "{{ dct.get('transceiver/state/connector-type', 'SFP_I2C_CONNECTOR_TYPE_COPPER') }}" } },
        {"transceiver/state/vendor":    {"str_value": "{{ dct.get('transceiver/state/vendor', 'Amphenol') }}" } },
        {"transceiver/state/vendor-part":    {"str_value": "{{ dct.get('transceiver/state/vendor-part', '584990002') }}" } },
        {"transceiver/state/vendor-rev":    {"str_value": "{{ dct.get('transceiver/state/vendor-rev', 'A') }}" } },
        {"transceiver/state/ethernet-pmd":    {"str_value": "{{ dct.get('transceiver/state/ethernet-pmd', '10GBASE CU 3M') }}" } },
        {"transceiver/state/sonet-sdh-compliance-code":    {"str_value": "{{ dct.get('transceiver/state/sonet-sdh-compliance-code', 'NA') }}" } },
        {"transceiver/state/otn-compliance-code":    {"str_value": "{{ dct.get('transceiver/state/otn-compliance-code', 'NA') }}" } },
        {"transceiver/state/serial-no":    {"str_value": "{{ dct.get('transceiver/state/serial-no', 'APF140800239D7') }}" } },
        {"transceiver/state/date-code":    {"str_value": "{{ dct.get('transceiver/state/date-code', '140226') }}" } },
    {"__prefix__": {"str_value": "/components/component[name='FPC0:PIC0:PORT1:Xcvr0']/"}},
        {"state/name":    {"str_value": "{{ dct.get('state/name', 'FPC0:PIC0:PORT1:Xcvr0') }}" } },
        {"state/location":    {"str_value": "{{ dct.get('state/location', 'FPC0:PIC0:PORT1:Xcvr0') }}" } },
        {"state/removable":    {"bool_value": {{ dct.get('state/removable', 'true') }} } },
        {"state/empty":    {"bool_value": {{ dct.get('state/empty', 'false') }} } },
        {"state/parent":    {"str_value": "{{ dct.get('state/parent', 'FPC0:PIC0:PORT1') }}" } },
        {"state/temperature/instant":    {"str_value": "{{ dct.get('state/temperature/instant', '0.0') }}" } },
        {"state/memory/available":    {"uint_value": {{ dct.get('state/memory/available', 0.000000) }} } },
        {"state/memory/utilized":    {"uint_value": {{ dct.get('state/memory/utilized', 0.000000) }} } },
        {"state/allocated-power":    {"uint_value": {{ dct.get('state/allocated-power', 0.000000) }} } },
        {"transceiver/state/form-factor-preconf":    {"str_value": "{{ dct.get('transceiver/state/form-factor-preconf', 'SFP+-10G-SR') }}" } },
        {"transceiver/state/ethernet-pmd-preconf":    {"str_value": "{{ dct.get('transceiver/state/ethernet-pmd-preconf', '10GBASE SR') }}" } },
        {"transceiver/state/present":    {"str_value": "{{ dct.get('transceiver/state/present', 'PRESENT') }}" } },
        {"transceiver/state/form-factor":    {"str_value": "{{ dct.get('transceiver/state/form-factor', 'SFP+-10G-SR') }}" } },
        {"transceiver/state/connector-type":    {"str_value": "{{ dct.get('transceiver/state/connector-type', 'LC_CONNECTOR') }}" } },
        {"transceiver/state/vendor":    {"str_value": "{{ dct.get('transceiver/state/vendor', 'AVAGO') }}" } },
        {"transceiver/state/vendor-part":    {"str_value": "{{ dct.get('transceiver/state/vendor-part', 'AFBR-709SMZ-JU4') }}" } },
        {"transceiver/state/vendor-rev":    {"str_value": "{{ dct.get('transceiver/state/vendor-rev', 'G4.1') }}" } },
        {"transceiver/state/ethernet-pmd":    {"str_value": "{{ dct.get('transceiver/state/ethernet-pmd', '10GBASE SR') }}" } },
        {"transceiver/state/sonet-sdh-compliance-code":    {"str_value": "{{ dct.get('transceiver/state/sonet-sdh-compliance-code', 'NA') }}" } },
        {"transceiver/state/otn-compliance-code":    {"str_value": "{{ dct.get('transceiver/state/otn-compliance-code', 'NA') }}" } }    ]
},
{"sensor_1009_2_1:/components/:/components/:chassisd":     [
    {"__prefix__": {"str_value": "/components/component[name='FPC0:PIC0:PORT1:Xcvr0']/"}},
        {"transceiver/state/serial-no":    {"str_value": "{{ dct.get('transceiver/state/serial-no', 'AD170230GTJ') }}" } },
        {"transceiver/state/date-code":    {"str_value": "{{ dct.get('transceiver/state/date-code', '170114') }}" } },
    {"__prefix__": {"str_value": "/components/component[name='FPC0:PIC0:PORT2:Xcvr0']/"}},
        {"state/name":    {"str_value": "{{ dct.get('state/name', 'FPC0:PIC0:PORT2:Xcvr0') }}" } },
        {"state/location":    {"str_value": "{{ dct.get('state/location', 'FPC0:PIC0:PORT2:Xcvr0') }}" } },
        {"state/removable":    {"bool_value": {{ dct.get('state/removable', 'true') }} } },
        {"state/empty":    {"bool_value": {{ dct.get('state/empty', 'false') }} } },
        {"state/parent":    {"str_value": "{{ dct.get('state/parent', 'FPC0:PIC0:PORT2') }}" } },
        {"state/temperature/instant":    {"str_value": "{{ dct.get('state/temperature/instant', '0.0') }}" } },
        {"state/memory/available":    {"uint_value": {{ dct.get('state/memory/available', 0.000000) }} } },
        {"state/memory/utilized":    {"uint_value": {{ dct.get('state/memory/utilized', 0.000000) }} } },
        {"state/allocated-power":    {"uint_value": {{ dct.get('state/allocated-power', 0.000000) }} } },
        {"transceiver/state/form-factor-preconf":    {"str_value": "{{ dct.get('transceiver/state/form-factor-preconf', 'SFP+-10G-SR') }}" } },
        {"transceiver/state/ethernet-pmd-preconf":    {"str_value": "{{ dct.get('transceiver/state/ethernet-pmd-preconf', '10GBASE SR') }}" } },
        {"transceiver/state/present":    {"str_value": "{{ dct.get('transceiver/state/present', 'PRESENT') }}" } },
        {"transceiver/state/form-factor":    {"str_value": "{{ dct.get('transceiver/state/form-factor', 'SFP+-10G-SR') }}" } },
        {"transceiver/state/connector-type":    {"str_value": "{{ dct.get('transceiver/state/connector-type', 'LC_CONNECTOR') }}" } },
        {"transceiver/state/vendor":    {"str_value": "{{ dct.get('transceiver/state/vendor', 'AVAGO') }}" } },
        {"transceiver/state/vendor-part":    {"str_value": "{{ dct.get('transceiver/state/vendor-part', 'AFBR-709SMZ-JU4') }}" } },
        {"transceiver/state/vendor-rev":    {"str_value": "{{ dct.get('transceiver/state/vendor-rev', 'G4.1') }}" } },
        {"transceiver/state/ethernet-pmd":    {"str_value": "{{ dct.get('transceiver/state/ethernet-pmd', '10GBASE SR') }}" } },
        {"transceiver/state/sonet-sdh-compliance-code":    {"str_value": "{{ dct.get('transceiver/state/sonet-sdh-compliance-code', 'NA') }}" } },
        {"transceiver/state/otn-compliance-code":    {"str_value": "{{ dct.get('transceiver/state/otn-compliance-code', 'NA') }}" } },
        {"transceiver/state/serial-no":    {"str_value": "{{ dct.get('transceiver/state/serial-no', 'AD1702307VB') }}" } },
        {"transceiver/state/date-code":    {"str_value": "{{ dct.get('transceiver/state/date-code', '170111') }}" } },
    {"__prefix__": {"str_value": "/components/component[name='FPC0:PIC0:PORT5:Xcvr0']/"}},
        {"state/name":    {"str_value": "{{ dct.get('state/name', 'FPC0:PIC0:PORT5:Xcvr0') }}" } },
        {"state/location":    {"str_value": "{{ dct.get('state/location', 'FPC0:PIC0:PORT5:Xcvr0') }}" } },
        {"state/removable":    {"bool_value": {{ dct.get('state/removable', 'true') }} } },
        {"state/empty":    {"bool_value": {{ dct.get('state/empty', 'false') }} } },
        {"state/parent":    {"str_value": "{{ dct.get('state/parent', 'FPC0:PIC0:PORT5') }}" } },
        {"state/temperature/instant":    {"str_value": "{{ dct.get('state/temperature/instant', '0.0') }}" } },
        {"state/memory/available":    {"uint_value": {{ dct.get('state/memory/available', 0.000000) }} } },
        {"state/memory/utilized":    {"uint_value": {{ dct.get('state/memory/utilized', 0.000000) }} } },
        {"state/allocated-power":    {"uint_value": {{ dct.get('state/allocated-power', 0.000000) }} } },
        {"transceiver/state/form-factor-preconf":    {"str_value": "{{ dct.get('transceiver/state/form-factor-preconf', 'SFP+-10G-CU2M') }}" } },
        {"transceiver/state/ethernet-pmd-preconf":    {"str_value": "{{ dct.get('transceiver/state/ethernet-pmd-preconf', '10GBASE CU 2M') }}" } },
        {"transceiver/state/present":    {"str_value": "{{ dct.get('transceiver/state/present', 'PRESENT') }}" } },
        {"transceiver/state/form-factor":    {"str_value": "{{ dct.get('transceiver/state/form-factor', 'SFP+-10G-CU2M') }}" } },
        {"transceiver/state/connector-type":    {"str_value": "{{ dct.get('transceiver/state/connector-type', 'SFP_I2C_CONNECTOR_TYPE_COPPER') }}" } },
        {"transceiver/state/vendor":    {"str_value": "{{ dct.get('transceiver/state/vendor', 'Amphenol') }}" } },
        {"transceiver/state/vendor-part":    {"str_value": "{{ dct.get('transceiver/state/vendor-part', '610530004') }}" } },
        {"transceiver/state/vendor-rev":    {"str_value": "{{ dct.get('transceiver/state/vendor-rev', 'C') }}" } },
        {"transceiver/state/ethernet-pmd":    {"str_value": "{{ dct.get('transceiver/state/ethernet-pmd', '10GBASE CU 2M') }}" } },
        {"transceiver/state/sonet-sdh-compliance-code":    {"str_value": "{{ dct.get('transceiver/state/sonet-sdh-compliance-code', 'NA') }}" } },
        {"transceiver/state/otn-compliance-code":    {"str_value": "{{ dct.get('transceiver/state/otn-compliance-code', 'NA') }}" } },
        {"transceiver/state/serial-no":    {"str_value": "{{ dct.get('transceiver/state/serial-no', 'APF164800484RT') }}" } },
        {"transceiver/state/date-code":    {"str_value": "{{ dct.get('transceiver/state/date-code', '161205') }}" } },
    {"__prefix__": {"str_value": "/components/component[name='FPC0:PIC0:PORT6:Xcvr0']/"}},
        {"state/name":    {"str_value": "{{ dct.get('state/name', 'FPC0:PIC0:PORT6:Xcvr0') }}" } },
        {"state/location":    {"str_value": "{{ dct.get('state/location', 'FPC0:PIC0:PORT6:Xcvr0') }}" } },
        {"state/removable":    {"bool_value": {{ dct.get('state/removable', 'true') }} } },
        {"state/empty":    {"bool_value": {{ dct.get('state/empty', 'false') }} } },
        {"state/parent":    {"str_value": "{{ dct.get('state/parent', 'FPC0:PIC0:PORT6') }}" } },
        {"state/temperature/instant":    {"str_value": "{{ dct.get('state/temperature/instant', '0.0') }}" } },
        {"state/memory/available":    {"uint_value": {{ dct.get('state/memory/available', 0.000000) }} } },
        {"state/memory/utilized":    {"uint_value": {{ dct.get('state/memory/utilized', 0.000000) }} } },
        {"state/allocated-power":    {"uint_value": {{ dct.get('state/allocated-power', 0.000000) }} } },
        {"transceiver/state/form-factor-preconf":    {"str_value": "{{ dct.get('transceiver/state/form-factor-preconf', 'SFP+-10G-CU3M') }}" } },
        {"transceiver/state/ethernet-pmd-preconf":    {"str_value": "{{ dct.get('transceiver/state/ethernet-pmd-preconf', '10GBASE CU 3M') }}" } },
        {"transceiver/state/present":    {"str_value": "{{ dct.get('transceiver/state/present', 'PRESENT') }}" } },
        {"transceiver/state/form-factor":    {"str_value": "{{ dct.get('transceiver/state/form-factor', 'SFP+-10G-CU3M') }}" } },
        {"transceiver/state/connector-type":    {"str_value": "{{ dct.get('transceiver/state/connector-type', 'SFP_I2C_CONNECTOR_TYPE_COPPER') }}" } },
        {"transceiver/state/vendor":    {"str_value": "{{ dct.get('transceiver/state/vendor', 'Amphenol') }}" } },
        {"transceiver/state/vendor-part":    {"str_value": "{{ dct.get('transceiver/state/vendor-part', '584990002') }}" } },
        {"transceiver/state/vendor-rev":    {"str_value": "{{ dct.get('transceiver/state/vendor-rev', 'A') }}" } },
        {"transceiver/state/ethernet-pmd":    {"str_value": "{{ dct.get('transceiver/state/ethernet-pmd', '10GBASE CU 3M') }}" } },
        {"transceiver/state/sonet-sdh-compliance-code":    {"str_value": "{{ dct.get('transceiver/state/sonet-sdh-compliance-code', 'NA') }}" } },
        {"transceiver/state/otn-compliance-code":    {"str_value": "{{ dct.get('transceiver/state/otn-compliance-code', 'NA') }}" } },
        {"transceiver/state/serial-no":    {"str_value": "{{ dct.get('transceiver/state/serial-no', 'APF140800239E6') }}" } },
        {"transceiver/state/date-code":    {"str_value": "{{ dct.get('transceiver/state/date-code', '140226') }}" } },
    {"__prefix__": {"str_value": "/components/component[name='FPC0:PIC0:PORT8:Xcvr0']/"}},
        {"state/name":    {"str_value": "{{ dct.get('state/name', 'FPC0:PIC0:PORT8:Xcvr0') }}" } },
        {"state/location":    {"str_value": "{{ dct.get('state/location', 'FPC0:PIC0:PORT8:Xcvr0') }}" } },
        {"state/removable":    {"bool_value": {{ dct.get('state/removable', 'true') }} } },
        {"state/empty":    {"bool_value": {{ dct.get('state/empty', 'false') }} } },
        {"state/parent":    {"str_value": "{{ dct.get('state/parent', 'FPC0:PIC0:PORT8') }}" } },
        {"state/temperature/instant":    {"str_value": "{{ dct.get('state/temperature/instant', '0.0') }}" } },
        {"state/memory/available":    {"uint_value": {{ dct.get('state/memory/available', 0.000000) }} } },
        {"state/memory/utilized":    {"uint_value": {{ dct.get('state/memory/utilized', 0.000000) }} } },
        {"state/allocated-power":    {"uint_value": {{ dct.get('state/allocated-power', 0.000000) }} } },
        {"transceiver/state/form-factor-preconf":    {"str_value": "{{ dct.get('transceiver/state/form-factor-preconf', 'SFP+-10G-CU3M') }}" } },
        {"transceiver/state/ethernet-pmd-preconf":    {"str_value": "{{ dct.get('transceiver/state/ethernet-pmd-preconf', '10GBASE CU 3M') }}" } },
        {"transceiver/state/present":    {"str_value": "{{ dct.get('transceiver/state/present', 'PRESENT') }}" } },
        {"transceiver/state/form-factor":    {"str_value": "{{ dct.get('transceiver/state/form-factor', 'SFP+-10G-CU3M') }}" } },
        {"transceiver/state/connector-type":    {"str_value": "{{ dct.get('transceiver/state/connector-type', 'SFP_I2C_CONNECTOR_TYPE_COPPER') }}" } },
        {"transceiver/state/vendor":    {"str_value": "{{ dct.get('transceiver/state/vendor', 'Amphenol') }}" } },
        {"transceiver/state/vendor-part":    {"str_value": "{{ dct.get('transceiver/state/vendor-part', '584990002') }}" } },
        {"transceiver/state/vendor-rev":    {"str_value": "{{ dct.get('transceiver/state/vendor-rev', 'A') }}" } },
        {"transceiver/state/ethernet-pmd":    {"str_value": "{{ dct.get('transceiver/state/ethernet-pmd', '10GBASE CU 3M') }}" } },
        {"transceiver/state/sonet-sdh-compliance-code":    {"str_value": "{{ dct.get('transceiver/state/sonet-sdh-compliance-code', 'NA') }}" } },
        {"transceiver/state/otn-compliance-code":    {"str_value": "{{ dct.get('transceiver/state/otn-compliance-code', 'NA') }}" } },
        {"transceiver/state/serial-no":    {"str_value": "{{ dct.get('transceiver/state/serial-no', 'APF140800239F4') }}" } },
        {"transceiver/state/date-code":    {"str_value": "{{ dct.get('transceiver/state/date-code', '140225') }}" } },
    {"__prefix__": {"str_value": "/components/component[name='FPC0:PIC0:PORT42:Xcvr0']/"}},
        {"state/name":    {"str_value": "{{ dct.get('state/name', 'FPC0:PIC0:PORT42:Xcvr0') }}" } },
        {"state/location":    {"str_value": "{{ dct.get('state/location', 'FPC0:PIC0:PORT42:Xcvr0') }}" } },
        {"state/removable":    {"bool_value": {{ dct.get('state/removable', 'true') }} } },
        {"state/empty":    {"bool_value": {{ dct.get('state/empty', 'false') }} } },
        {"state/parent":    {"str_value": "{{ dct.get('state/parent', 'FPC0:PIC0:PORT42') }}" } },
        {"state/temperature/instant":    {"str_value": "{{ dct.get('state/temperature/instant', '0.0') }}" } },
        {"state/memory/available":    {"uint_value": {{ dct.get('state/memory/available', 0.000000) }} } },
        {"state/memory/utilized":    {"uint_value": {{ dct.get('state/memory/utilized', 0.000000) }} } },
        {"state/allocated-power":    {"uint_value": {{ dct.get('state/allocated-power', 0.000000) }} } },
        {"transceiver/state/form-factor-preconf":    {"str_value": "{{ dct.get('transceiver/state/form-factor-preconf', 'SFP+-10G-CU2M') }}" } },
        {"transceiver/state/ethernet-pmd-preconf":    {"str_value": "{{ dct.get('transceiver/state/ethernet-pmd-preconf', '10GBASE CU 2M') }}" } },
        {"transceiver/state/present":    {"str_value": "{{ dct.get('transceiver/state/present', 'PRESENT') }}" } },
        {"transceiver/state/form-factor":    {"str_value": "{{ dct.get('transceiver/state/form-factor', 'SFP+-10G-CU2M') }}" } },
        {"transceiver/state/connector-type":    {"str_value": "{{ dct.get('transceiver/state/connector-type', 'SFP_I2C_CONNECTOR_TYPE_COPPER') }}" } },
        {"transceiver/state/vendor":    {"str_value": "{{ dct.get('transceiver/state/vendor', 'Amphenol') }}" } },
        {"transceiver/state/vendor-part":    {"str_value": "{{ dct.get('transceiver/state/vendor-part', '610530004') }}" } },
        {"transceiver/state/vendor-rev":    {"str_value": "{{ dct.get('transceiver/state/vendor-rev', 'C') }}" } },
        {"transceiver/state/ethernet-pmd":    {"str_value": "{{ dct.get('transceiver/state/ethernet-pmd', '10GBASE CU 2M') }}" } },
        {"transceiver/state/sonet-sdh-compliance-code":    {"str_value": "{{ dct.get('transceiver/state/sonet-sdh-compliance-code', 'NA') }}" } },
        {"transceiver/state/otn-compliance-code":    {"str_value": "{{ dct.get('transceiver/state/otn-compliance-code', 'NA') }}" } },
        {"transceiver/state/serial-no":    {"str_value": "{{ dct.get('transceiver/state/serial-no', 'APF16420047H2M') }}" } },
        {"transceiver/state/date-code":    {"str_value": "{{ dct.get('transceiver/state/date-code', '161030') }}" } },
    {"__prefix__": {"str_value": "/components/component[name='FPC0:PIC0:PORT44:Xcvr0']/"}},
        {"state/name":    {"str_value": "{{ dct.get('state/name', 'FPC0:PIC0:PORT44:Xcvr0') }}" } },
        {"state/location":    {"str_value": "{{ dct.get('state/location', 'FPC0:PIC0:PORT44:Xcvr0') }}" } },
        {"state/removable":    {"bool_value": {{ dct.get('state/removable', 'true') }} } },
        {"state/empty":    {"bool_value": {{ dct.get('state/empty', 'false') }} } },
        {"state/parent":    {"str_value": "{{ dct.get('state/parent', 'FPC0:PIC0:PORT44') }}" } },
        {"state/temperature/instant":    {"str_value": "{{ dct.get('state/temperature/instant', '0.0') }}" } },
        {"state/memory/available":    {"uint_value": {{ dct.get('state/memory/available', 0.000000) }} } },
        {"state/memory/utilized":    {"uint_value": {{ dct.get('state/memory/utilized', 0.000000) }} } },
        {"state/allocated-power":    {"uint_value": {{ dct.get('state/allocated-power', 0.000000) }} } },
        {"transceiver/state/form-factor-preconf":    {"str_value": "{{ dct.get('transceiver/state/form-factor-preconf', 'SFP+-10G-CU3M') }}" } },
        {"transceiver/state/ethernet-pmd-preconf":    {"str_value": "{{ dct.get('transceiver/state/ethernet-pmd-preconf', '10GBASE CU 3M') }}" } },
        {"transceiver/state/present":    {"str_value": "{{ dct.get('transceiver/state/present', 'PRESENT') }}" } },
        {"transceiver/state/form-factor":    {"str_value": "{{ dct.get('transceiver/state/form-factor', 'SFP+-10G-CU3M') }}" } },
        {"transceiver/state/connector-type":    {"str_value": "{{ dct.get('transceiver/state/connector-type', 'SFP_I2C_CONNECTOR_TYPE_COPPER') }}" } },
        {"transceiver/state/vendor":    {"str_value": "{{ dct.get('transceiver/state/vendor', 'ADDON') }}" } },
        {"transceiver/state/vendor-part":    {"str_value": "{{ dct.get('transceiver/state/vendor-part', 'QSFP-DACBO-3M-AO') }}" } },
        {"transceiver/state/vendor-rev":    {"str_value": "{{ dct.get('transceiver/state/vendor-rev', 'A3') }}" } },
        {"transceiver/state/ethernet-pmd":    {"str_value": "{{ dct.get('transceiver/state/ethernet-pmd', '10GBASE CU 3M') }}" } },
        {"transceiver/state/sonet-sdh-compliance-code":    {"str_value": "{{ dct.get('transceiver/state/sonet-sdh-compliance-code', 'NA') }}" } },
        {"transceiver/state/otn-compliance-code":    {"str_value": "{{ dct.get('transceiver/state/otn-compliance-code', 'NA') }}" } },
        {"transceiver/state/serial-no":    {"str_value": "{{ dct.get('transceiver/state/serial-no', 'ADD3D29B3998C1') }}" } },
        {"transceiver/state/date-code":    {"str_value": "{{ dct.get('transceiver/state/date-code', '180117') }}" } },
    {"__prefix__": {"str_value": "/components/component[name='FPC0:PIC0:PORT45:Xcvr0']/"}},
        {"state/name":    {"str_value": "{{ dct.get('state/name', 'FPC0:PIC0:PORT45:Xcvr0') }}" } },
        {"state/location":    {"str_value": "{{ dct.get('state/location', 'FPC0:PIC0:PORT45:Xcvr0') }}" } },
        {"state/removable":    {"bool_value": {{ dct.get('state/removable', 'true') }} } },
        {"state/empty":    {"bool_value": {{ dct.get('state/empty', 'false') }} } },
        {"state/parent":    {"str_value": "{{ dct.get('state/parent', 'FPC0:PIC0:PORT45') }}" } },
        {"state/temperature/instant":    {"str_value": "{{ dct.get('state/temperature/instant', '0.0') }}" } },
        {"state/memory/available":    {"uint_value": {{ dct.get('state/memory/available', 0.000000) }} } },
        {"state/memory/utilized":    {"uint_value": {{ dct.get('state/memory/utilized', 0.000000) }} } },
        {"state/allocated-power":    {"uint_value": {{ dct.get('state/allocated-power', 0.000000) }} } },
        {"transceiver/state/form-factor-preconf":    {"str_value": "{{ dct.get('transceiver/state/form-factor-preconf', 'SFP+-10G-CU3M') }}" } },
        {"transceiver/state/ethernet-pmd-preconf":    {"str_value": "{{ dct.get('transceiver/state/ethernet-pmd-preconf', '10GBASE CU 3M') }}" } },
        {"transceiver/state/present":    {"str_value": "{{ dct.get('transceiver/state/present', 'PRESENT') }}" } },
        {"transceiver/state/form-factor":    {"str_value": "{{ dct.get('transceiver/state/form-factor', 'SFP+-10G-CU3M') }}" } },
        {"transceiver/state/connector-type":    {"str_value": "{{ dct.get('transceiver/state/connector-type', 'SFP_I2C_CONNECTOR_TYPE_COPPER') }}" } },
        {"transceiver/state/vendor":    {"str_value": "{{ dct.get('transceiver/state/vendor', 'ADDON') }}" } },
        {"transceiver/state/vendor-part":    {"str_value": "{{ dct.get('transceiver/state/vendor-part', 'QSFP-DACBO-3M-AO') }}" } },
        {"transceiver/state/vendor-rev":    {"str_value": "{{ dct.get('transceiver/state/vendor-rev', 'A3') }}" } },
        {"transceiver/state/ethernet-pmd":    {"str_value": "{{ dct.get('transceiver/state/ethernet-pmd', '10GBASE CU 3M') }}" } },
        {"transceiver/state/sonet-sdh-compliance-code":    {"str_value": "{{ dct.get('transceiver/state/sonet-sdh-compliance-code', 'NA') }}" } },
        {"transceiver/state/otn-compliance-code":    {"str_value": "{{ dct.get('transceiver/state/otn-compliance-code', 'NA') }}" } },
        {"transceiver/state/serial-no":    {"str_value": "{{ dct.get('transceiver/state/serial-no', 'ADD3D29B3998C2') }}" } },
        {"transceiver/state/date-code":    {"str_value": "{{ dct.get('transceiver/state/date-code', '180117') }}" } },
    {"__prefix__": {"str_value": "/components/component[name='FPC0:PIC0:PORT46:Xcvr0']/"}},
        {"state/name":    {"str_value": "{{ dct.get('state/name', 'FPC0:PIC0:PORT46:Xcvr0') }}" } },
        {"state/location":    {"str_value": "{{ dct.get('state/location', 'FPC0:PIC0:PORT46:Xcvr0') }}" } },
        {"state/removable":    {"bool_value": {{ dct.get('state/removable', 'true') }} } },
        {"state/empty":    {"bool_value": {{ dct.get('state/empty', 'false') }} } },
        {"state/parent":    {"str_value": "{{ dct.get('state/parent', 'FPC0:PIC0:PORT46') }}" } },
        {"state/temperature/instant":    {"str_value": "{{ dct.get('state/temperature/instant', '0.0') }}" } },
        {"state/memory/available":    {"uint_value": {{ dct.get('state/memory/available', 0.000000) }} } },
        {"state/memory/utilized":    {"uint_value": {{ dct.get('state/memory/utilized', 0.000000) }} } },
        {"state/allocated-power":    {"uint_value": {{ dct.get('state/allocated-power', 0.000000) }} } },
        {"transceiver/state/form-factor-preconf":    {"str_value": "{{ dct.get('transceiver/state/form-factor-preconf', 'SFP+-10G-CU3M') }}" } },
        {"transceiver/state/ethernet-pmd-preconf":    {"str_value": "{{ dct.get('transceiver/state/ethernet-pmd-preconf', '10GBASE CU 3M') }}" } },
        {"transceiver/state/present":    {"str_value": "{{ dct.get('transceiver/state/present', 'PRESENT') }}" } },
        {"transceiver/state/form-factor":    {"str_value": "{{ dct.get('transceiver/state/form-factor', 'SFP+-10G-CU3M') }}" } },
        {"transceiver/state/connector-type":    {"str_value": "{{ dct.get('transceiver/state/connector-type', 'SFP_I2C_CONNECTOR_TYPE_COPPER') }}" } },
        {"transceiver/state/vendor":    {"str_value": "{{ dct.get('transceiver/state/vendor', 'ADDON') }}" } },
        {"transceiver/state/vendor-part":    {"str_value": "{{ dct.get('transceiver/state/vendor-part', 'QSFP-DACBO-3M-AO') }}" } },
        {"transceiver/state/vendor-rev":    {"str_value": "{{ dct.get('transceiver/state/vendor-rev', 'A3') }}" } },
        {"transceiver/state/ethernet-pmd":    {"str_value": "{{ dct.get('transceiver/state/ethernet-pmd', '10GBASE CU 3M') }}" } },
        {"transceiver/state/sonet-sdh-compliance-code":    {"str_value": "{{ dct.get('transceiver/state/sonet-sdh-compliance-code', 'NA') }}" } },
        {"transceiver/state/otn-compliance-code":    {"str_value": "{{ dct.get('transceiver/state/otn-compliance-code', 'NA') }}" } },
        {"transceiver/state/serial-no":    {"str_value": "{{ dct.get('transceiver/state/serial-no', 'ADD3D29B3987C1') }}" } },
        {"transceiver/state/date-code":    {"str_value": "{{ dct.get('transceiver/state/date-code', '180117') }}" } },
    {"__prefix__": {"str_value": "/components/component[name='FPC0:PIC0:PORT47:Xcvr0']/"}},
        {"state/name":    {"str_value": "{{ dct.get('state/name', 'FPC0:PIC0:PORT47:Xcvr0') }}" } },
        {"state/location":    {"str_value": "{{ dct.get('state/location', 'FPC0:PIC0:PORT47:Xcvr0') }}" } },
        {"state/removable":    {"bool_value": {{ dct.get('state/removable', 'true') }} } },
        {"state/empty":    {"bool_value": {{ dct.get('state/empty', 'false') }} } },
        {"state/parent":    {"str_value": "{{ dct.get('state/parent', 'FPC0:PIC0:PORT47') }}" } },
        {"state/temperature/instant":    {"str_value": "{{ dct.get('state/temperature/instant', '0.0') }}" } },
        {"state/memory/available":    {"uint_value": {{ dct.get('state/memory/available', 0.000000) }} } },
        {"state/memory/utilized":    {"uint_value": {{ dct.get('state/memory/utilized', 0.000000) }} } },
        {"state/allocated-power":    {"uint_value": {{ dct.get('state/allocated-power', 0.000000) }} } },
        {"transceiver/state/form-factor-preconf":    {"str_value": "{{ dct.get('transceiver/state/form-factor-preconf', 'SFP+-10G-CU3M') }}" } },
        {"transceiver/state/ethernet-pmd-preconf":    {"str_value": "{{ dct.get('transceiver/state/ethernet-pmd-preconf', '10GBASE CU 3M') }}" } },
        {"transceiver/state/present":    {"str_value": "{{ dct.get('transceiver/state/present', 'PRESENT') }}" } },
        {"transceiver/state/form-factor":    {"str_value": "{{ dct.get('transceiver/state/form-factor', 'SFP+-10G-CU3M') }}" } },
        {"transceiver/state/connector-type":    {"str_value": "{{ dct.get('transceiver/state/connector-type', 'SFP_I2C_CONNECTOR_TYPE_COPPER') }}" } },
        {"transceiver/state/vendor":    {"str_value": "{{ dct.get('transceiver/state/vendor', 'ADDON') }}" } },
        {"transceiver/state/vendor-part":    {"str_value": "{{ dct.get('transceiver/state/vendor-part', 'QSFP-DACBO-3M-AO') }}" } },
        {"transceiver/state/vendor-rev":    {"str_value": "{{ dct.get('transceiver/state/vendor-rev', 'A3') }}" } },
        {"transceiver/state/ethernet-pmd":    {"str_value": "{{ dct.get('transceiver/state/ethernet-pmd', '10GBASE CU 3M') }}" } },
        {"transceiver/state/sonet-sdh-compliance-code":    {"str_value": "{{ dct.get('transceiver/state/sonet-sdh-compliance-code', 'NA') }}" } },
        {"transceiver/state/otn-compliance-code":    {"str_value": "{{ dct.get('transceiver/state/otn-compliance-code', 'NA') }}" } },
        {"transceiver/state/serial-no":    {"str_value": "{{ dct.get('transceiver/state/serial-no', 'ADD3D29B3987C2') }}" } },
        {"transceiver/state/date-code":    {"str_value": "{{ dct.get('transceiver/state/date-code', '180117') }}" } },
    {"__prefix__": {"str_value": "/components/component[name='FPC0:PIC0:PORT48:Xcvr0']/"}},
        {"state/name":    {"str_value": "{{ dct.get('state/name', 'FPC0:PIC0:PORT48:Xcvr0') }}" } },
        {"state/location":    {"str_value": "{{ dct.get('state/location', 'FPC0:PIC0:PORT48:Xcvr0') }}" } },
        {"state/removable":    {"bool_value": {{ dct.get('state/removable', 'true') }} } },
        {"state/empty":    {"bool_value": {{ dct.get('state/empty', 'false') }} } },
        {"state/parent":    {"str_value": "{{ dct.get('state/parent', 'FPC0:PIC0:PORT48') }}" } },
        {"state/temperature/instant":    {"str_value": "{{ dct.get('state/temperature/instant', '0.0') }}" } },
        {"state/memory/available":    {"uint_value": {{ dct.get('state/memory/available', 0.000000) }} } },
        {"state/memory/utilized":    {"uint_value": {{ dct.get('state/memory/utilized', 0.000000) }} } },
        {"state/allocated-power":    {"uint_value": {{ dct.get('state/allocated-power', 0.000000) }} } },
        {"transceiver/state/form-factor-preconf":    {"str_value": "{{ dct.get('transceiver/state/form-factor-preconf', 'QSFP+-40G-CU1M') }}" } },
        {"transceiver/state/ethernet-pmd-preconf":    {"str_value": "{{ dct.get('transceiver/state/ethernet-pmd-preconf', '40GBASE CU 1M') }}" } },
        {"transceiver/state/present":    {"str_value": "{{ dct.get('transceiver/state/present', 'PRESENT') }}" } },
        {"transceiver/state/form-factor":    {"str_value": "{{ dct.get('transceiver/state/form-factor', 'QSFP+-40G-CU1M') }}" } },
        {"transceiver/state/connector-type":    {"str_value": "{{ dct.get('transceiver/state/connector-type', 'SFP_I2C_CONNECTOR_TYPE_AOC') }}" } },
        {"transceiver/state/vendor":    {"str_value": "{{ dct.get('transceiver/state/vendor', 'Amphenol') }}" } },
        {"transceiver/state/vendor-part":    {"str_value": "{{ dct.get('transceiver/state/vendor-part', '624410001') }}" } },
        {"transceiver/state/vendor-rev":    {"str_value": "{{ dct.get('transceiver/state/vendor-rev', 'C') }}" } },
        {"transceiver/state/ethernet-pmd":    {"str_value": "{{ dct.get('transceiver/state/ethernet-pmd', '40GBASE CU 1M') }}" } },
        {"transceiver/state/sonet-sdh-compliance-code":    {"str_value": "{{ dct.get('transceiver/state/sonet-sdh-compliance-code', 'NA') }}" } },
        {"transceiver/state/otn-compliance-code":    {"str_value": "{{ dct.get('transceiver/state/otn-compliance-code', 'NA') }}" } },
        {"transceiver/state/serial-no":    {"str_value": "{{ dct.get('transceiver/state/serial-no', 'APF16230010A9M') }}" } },
        {"transceiver/state/date-code":    {"str_value": "{{ dct.get('transceiver/state/date-code', '160613') }}" } },
    {"__prefix__": {"str_value": "/components/component[name='FPC0:PIC0:PORT49:Xcvr0']/"}},
        {"state/name":    {"str_value": "{{ dct.get('state/name', 'FPC0:PIC0:PORT49:Xcvr0') }}" } },
        {"state/location":    {"str_value": "{{ dct.get('state/location', 'FPC0:PIC0:PORT49:Xcvr0') }}" } },
        {"state/removable":    {"bool_value": {{ dct.get('state/removable', 'true') }} } },
        {"state/empty":    {"bool_value": {{ dct.get('state/empty', 'false') }} } },
        {"state/parent":    {"str_value": "{{ dct.get('state/parent', 'FPC0:PIC0:PORT49') }}" } },
        {"state/temperature/instant":    {"str_value": "{{ dct.get('state/temperature/instant', '0.0') }}" } },
        {"state/memory/available":    {"uint_value": {{ dct.get('state/memory/available', 0.000000) }} } },
        {"state/memory/utilized":    {"uint_value": {{ dct.get('state/memory/utilized', 0.000000) }} } },
        {"state/allocated-power":    {"uint_value": {{ dct.get('state/allocated-power', 0.000000) }} } },
        {"transceiver/state/form-factor-preconf":    {"str_value": "{{ dct.get('transceiver/state/form-factor-preconf', 'QSFP+-40G-CU1M') }}" } },
        {"transceiver/state/ethernet-pmd-preconf":    {"str_value": "{{ dct.get('transceiver/state/ethernet-pmd-preconf', '40GBASE CU 1M') }}" } },
        {"transceiver/state/present":    {"str_value": "{{ dct.get('transceiver/state/present', 'PRESENT') }}" } },
        {"transceiver/state/form-factor":    {"str_value": "{{ dct.get('transceiver/state/form-factor', 'QSFP+-40G-CU1M') }}" } },
        {"transceiver/state/connector-type":    {"str_value": "{{ dct.get('transceiver/state/connector-type', 'SFP_I2C_CONNECTOR_TYPE_AOC') }}" } },
        {"transceiver/state/vendor":    {"str_value": "{{ dct.get('transceiver/state/vendor', 'Amphenol') }}" } },
        {"transceiver/state/vendor-part":    {"str_value": "{{ dct.get('transceiver/state/vendor-part', '624410001') }}" } },
        {"transceiver/state/vendor-rev":    {"str_value": "{{ dct.get('transceiver/state/vendor-rev', 'C') }}" } },
        {"transceiver/state/ethernet-pmd":    {"str_value": "{{ dct.get('transceiver/state/ethernet-pmd', '40GBASE CU 1M') }}" } },
        {"transceiver/state/sonet-sdh-compliance-code":    {"str_value": "{{ dct.get('transceiver/state/sonet-sdh-compliance-code', 'NA') }}" } },
        {"transceiver/state/otn-compliance-code":    {"str_value": "{{ dct.get('transceiver/state/otn-compliance-code', 'NA') }}" } },
        {"transceiver/state/serial-no":    {"str_value": "{{ dct.get('transceiver/state/serial-no', 'APF16230010ABY') }}" } },
        {"transceiver/state/date-code":    {"str_value": "{{ dct.get('transceiver/state/date-code', '160613') }}" } },
    {"__prefix__": {"str_value": "/components/component[name='FPC0:PIC0:PORT50:Xcvr0']/"}},
        {"state/name":    {"str_value": "{{ dct.get('state/name', 'FPC0:PIC0:PORT50:Xcvr0') }}" } },
        {"state/location":    {"str_value": "{{ dct.get('state/location', 'FPC0:PIC0:PORT50:Xcvr0') }}" } },
        {"state/removable":    {"bool_value": {{ dct.get('state/removable', 'true') }} } },
        {"state/empty":    {"bool_value": {{ dct.get('state/empty', 'false') }} } },
        {"state/parent":    {"str_value": "{{ dct.get('state/parent', 'FPC0:PIC0:PORT50') }}" } },
        {"state/temperature/instant":    {"str_value": "{{ dct.get('state/temperature/instant', '0.0') }}" } },
        {"state/memory/available":    {"uint_value": {{ dct.get('state/memory/available', 0.000000) }} } },
        {"state/memory/utilized":    {"uint_value": {{ dct.get('state/memory/utilized', 0.000000) }} } },
        {"state/allocated-power":    {"uint_value": {{ dct.get('state/allocated-power', 0.000000) }} } },
        {"transceiver/state/form-factor-preconf":    {"str_value": "{{ dct.get('transceiver/state/form-factor-preconf', 'QSFP+-40G-CU1M') }}" } },
        {"transceiver/state/ethernet-pmd-preconf":    {"str_value": "{{ dct.get('transceiver/state/ethernet-pmd-preconf', '40GBASE CU 1M') }}" } },
        {"transceiver/state/present":    {"str_value": "{{ dct.get('transceiver/state/present', 'PRESENT') }}" } },
        {"transceiver/state/form-factor":    {"str_value": "{{ dct.get('transceiver/state/form-factor', 'QSFP+-40G-CU1M') }}" } },
        {"transceiver/state/connector-type":    {"str_value": "{{ dct.get('transceiver/state/connector-type', 'SFP_I2C_CONNECTOR_TYPE_AOC') }}" } },
        {"transceiver/state/vendor":    {"str_value": "{{ dct.get('transceiver/state/vendor', 'Amphenol') }}" } },
        {"transceiver/state/vendor-part":    {"str_value": "{{ dct.get('transceiver/state/vendor-part', '621620001') }}" } },
        {"transceiver/state/vendor-rev":    {"str_value": "{{ dct.get('transceiver/state/vendor-rev', 'C') }}" } },
        {"transceiver/state/ethernet-pmd":    {"str_value": "{{ dct.get('transceiver/state/ethernet-pmd', '40GBASE CU 1M') }}" } },
        {"transceiver/state/sonet-sdh-compliance-code":    {"str_value": "{{ dct.get('transceiver/state/sonet-sdh-compliance-code', 'NA') }}" } },
        {"transceiver/state/otn-compliance-code":    {"str_value": "{{ dct.get('transceiver/state/otn-compliance-code', 'NA') }}" } },
        {"transceiver/state/serial-no":    {"str_value": "{{ dct.get('transceiver/state/serial-no', 'APF16434170AH4') }}" } },
        {"transceiver/state/date-code":    {"str_value": "{{ dct.get('transceiver/state/date-code', '161027') }}" } },
    {"__prefix__": {"str_value": "/components/component[name='Power Supply0']/"}},
        {"state/name":    {"str_value": "{{ dct.get('state/name', 'Power Supply0') }}" } },
        {"state/type":    {"str_value": "{{ dct.get('state/type', 'POWER_SUPPLY') }}" } },
        {"state/id":    {"str_value": "{{ dct.get('state/id', '1GA17421143') }}" } },
        {"state/location":    {"str_value": "{{ dct.get('state/location', 'Power Supply0') }}" } },
        {"state/description":    {"str_value": "{{ dct.get('state/description', 'JPSU-650W-AC-AFI') }}" } },
        {"state/mfg-date":    {"str_value": "{{ dct.get('state/mfg-date', '10-19-2017') }}" } },
        {"state/hardware-version":    {"str_value": "{{ dct.get('state/hardware-version', 'REV 04') }}" } },
        {"state/serial-no":    {"str_value": "{{ dct.get('state/serial-no', '1GA17421143') }}" } },
        {"state/part-no":    {"str_value": "{{ dct.get('state/part-no', '740-044332') }}" } },
        {"state/removable":    {"bool_value": {{ dct.get('state/removable', 'false') }} } },
        {"state/oper-status":    {"str_value": "{{ dct.get('state/oper-status', 'ACTIVE') }}" } },
        {"state/empty":    {"bool_value": {{ dct.get('state/empty', 'false') }} } },
        {"state/temperature/instant":    {"str_value": "{{ dct.get('state/temperature/instant', '0.0') }}" } },
        {"state/memory/available":    {"uint_value": {{ dct.get('state/memory/available', 0.000000) }} } },
        {"state/memory/utilized":    {"uint_value": {{ dct.get('state/memory/utilized', 0.000000) }} } },
        {"state/allocated-power":    {"uint_value": {{ dct.get('state/allocated-power', 0.000000) }} } },
    {"__prefix__": {"str_value": "/components/component[name='Power Supply0']/properties/property[name='state']/"}},
        {"state/value":    {"str_value": "{{ dct.get('state/value', 'Online') }}" } },
        {"state/configurable":    {"bool_value": {{ dct.get('state/configurable', 'false') }} } },
    {"__prefix__": {"str_value": "/components/component[name='Power Supply1']/"}},
        {"state/name":    {"str_value": "{{ dct.get('state/name', 'Power Supply1') }}" } },
        {"state/type":    {"str_value": "{{ dct.get('state/type', 'POWER_SUPPLY') }}" } },
        {"state/id":    {"str_value": "{{ dct.get('state/id', '1GA17421181') }}" } },
        {"state/location":    {"str_value": "{{ dct.get('state/location', 'Power Supply1') }}" } },
        {"state/description":    {"str_value": "{{ dct.get('state/description', 'JPSU-650W-AC-AFI') }}" } },
        {"state/mfg-date":    {"str_value": "{{ dct.get('state/mfg-date', '10-19-2017') }}" } },
        {"state/hardware-version":    {"str_value": "{{ dct.get('state/hardware-version', 'REV 04') }}" } },
        {"state/serial-no":    {"str_value": "{{ dct.get('state/serial-no', '1GA17421181') }}" } },
        {"state/part-no":    {"str_value": "{{ dct.get('state/part-no', '740-044332') }}" } },
        {"state/removable":    {"bool_value": {{ dct.get('state/removable', 'false') }} } },
        {"state/oper-status":    {"str_value": "{{ dct.get('state/oper-status', 'ACTIVE') }}" } },
        {"state/empty":    {"bool_value": {{ dct.get('state/empty', 'false') }} } },
        {"state/temperature/instant":    {"str_value": "{{ dct.get('state/temperature/instant', '0.0') }}" } },
        {"state/memory/available":    {"uint_value": {{ dct.get('state/memory/available', 0.000000) }} } },
        {"state/memory/utilized":    {"uint_value": {{ dct.get('state/memory/utilized', 0.000000) }} } },
        {"state/allocated-power":    {"uint_value": {{ dct.get('state/allocated-power', 0.000000) }} } },
    {"__prefix__": {"str_value": "/components/component[name='Power Supply1']/properties/property[name='state']/"}},
        {"state/value":    {"str_value": "{{ dct.get('state/value', 'Online') }}" } },
        {"state/configurable":    {"bool_value": {{ dct.get('state/configurable', 'false') }} } },
    {"__prefix__": {"str_value": "/components/component[name='Fan Tray 0']/"}},
        {"state/name":    {"str_value": "{{ dct.get('state/name', 'Fan Tray 0') }}" } },
        {"state/type":    {"str_value": "{{ dct.get('state/type', 'FAN') }}" } },
        {"state/location":    {"str_value": "{{ dct.get('state/location', 'Fan Tray 0') }}" } },
        {"state/description":    {"str_value": "{{ dct.get('state/description', 'fan-ctrl-0 0, Back to Front Airflow - AFI') }}" } },
        {"state/removable":    {"bool_value": {{ dct.get('state/removable', 'false') }} } },
        {"state/empty":    {"bool_value": {{ dct.get('state/empty', 'false') }} } },
        {"state/temperature/instant":    {"str_value": "{{ dct.get('state/temperature/instant', '0.0') }}" } },
        {"state/memory/available":    {"uint_value": {{ dct.get('state/memory/available', 0.000000) }} } },
        {"state/memory/utilized":    {"uint_value": {{ dct.get('state/memory/utilized', 0.000000) }} } },
        {"state/allocated-power":    {"uint_value": {{ dct.get('state/allocated-power', 0.000000) }} } },
    {"__prefix__": {"str_value": "/components/component[name='Fan Tray 0']/properties/property[name='state']/"}},
        {"state/value":    {"str_value": "{{ dct.get('state/value', 'Online') }}" } },
        {"state/configurable":    {"bool_value": {{ dct.get('state/configurable', 'false') }} } },
    {"__prefix__": {"str_value": "/components/component[name='Fan Tray 1']/"}},
        {"state/name":    {"str_value": "{{ dct.get('state/name', 'Fan Tray 1') }}" } },
        {"state/type":    {"str_value": "{{ dct.get('state/type', 'FAN') }}" } },
        {"state/location":    {"str_value": "{{ dct.get('state/location', 'Fan Tray 1') }}" } },
        {"state/description":    {"str_value": "{{ dct.get('state/description', 'fan-ctrl-0 1, Back to Front Airflow - AFI') }}" } },
        {"state/removable":    {"bool_value": {{ dct.get('state/removable', 'false') }} } },
        {"state/empty":    {"bool_value": {{ dct.get('state/empty', 'false') }} } },
        {"state/temperature/instant":    {"str_value": "{{ dct.get('state/temperature/instant', '0.0') }}" } },
        {"state/memory/available":    {"uint_value": {{ dct.get('state/memory/available', 0.000000) }} } },
        {"state/memory/utilized":    {"uint_value": {{ dct.get('state/memory/utilized', 0.000000) }} } },
        {"state/allocated-power":    {"uint_value": {{ dct.get('state/allocated-power', 0.000000) }} } },
    {"__prefix__": {"str_value": "/components/component[name='Fan Tray 1']/properties/property[name='state']/"}},
        {"state/value":    {"str_value": "{{ dct.get('state/value', 'Online') }}" } },
        {"state/configurable":    {"bool_value": {{ dct.get('state/configurable', 'false') }} } },
    {"__prefix__": {"str_value": "/components/component[name='Fan Tray 2']/"}},
        {"state/name":    {"str_value": "{{ dct.get('state/name', 'Fan Tray 2') }}" } },
        {"state/type":    {"str_value": "{{ dct.get('state/type', 'FAN') }}" } },
        {"state/location":    {"str_value": "{{ dct.get('state/location', 'Fan Tray 2') }}" } },
        {"state/description":    {"str_value": "{{ dct.get('state/description', 'fan-ctrl-1 2, Back to Front Airflow - AFI') }}" } },
        {"state/removable":    {"bool_value": {{ dct.get('state/removable', 'false') }} } },
        {"state/empty":    {"bool_value": {{ dct.get('state/empty', 'false') }} } },
        {"state/temperature/instant":    {"str_value": "{{ dct.get('state/temperature/instant', '0.0') }}" } },
        {"state/memory/available":    {"uint_value": {{ dct.get('state/memory/available', 0.000000) }} } },
        {"state/memory/utilized":    {"uint_value": {{ dct.get('state/memory/utilized', 0.000000) }} } },
        {"state/allocated-power":    {"uint_value": {{ dct.get('state/allocated-power', 0.000000) }} } },
    {"__prefix__": {"str_value": "/components/component[name='Fan Tray 2']/properties/property[name='state']/"}},
        {"state/value":    {"str_value": "{{ dct.get('state/value', 'Online') }}" } },
        {"state/configurable":    {"bool_value": {{ dct.get('state/configurable', 'false') }} } },
    {"__prefix__": {"str_value": "/components/component[name='Fan Tray 3']/"}},
        {"state/name":    {"str_value": "{{ dct.get('state/name', 'Fan Tray 3') }}" } },
        {"state/type":    {"str_value": "{{ dct.get('state/type', 'FAN') }}" } },
        {"state/location":    {"str_value": "{{ dct.get('state/location', 'Fan Tray 3') }}" } },
        {"state/description":    {"str_value": "{{ dct.get('state/description', 'fan-ctrl-1 3, Back to Front Airflow - AFI') }}" } },
        {"state/removable":    {"bool_value": {{ dct.get('state/removable', 'false') }} } },
        {"state/empty":    {"bool_value": {{ dct.get('state/empty', 'false') }} } },
        {"state/temperature/instant":    {"str_value": "{{ dct.get('state/temperature/instant', '0.0') }}" } },
        {"state/memory/available":    {"uint_value": {{ dct.get('state/memory/available', 0.000000) }} } },
        {"state/memory/utilized":    {"uint_value": {{ dct.get('state/memory/utilized', 0.000000) }} } },
        {"state/allocated-power":    {"uint_value": {{ dct.get('state/allocated-power', 0.000000) }} } },
    {"__prefix__": {"str_value": "/components/component[name='Fan Tray 3']/properties/property[name='state']/"}},
        {"state/value":    {"str_value": "{{ dct.get('state/value', 'Online') }}" } },
        {"state/configurable":    {"bool_value": {{ dct.get('state/configurable', 'false') }} } },
    {"__prefix__": {"str_value": "/components/component[name='Fan Tray 4']/"}},
        {"state/name":    {"str_value": "{{ dct.get('state/name', 'Fan Tray 4') }}" } },
        {"state/type":    {"str_value": "{{ dct.get('state/type', 'FAN') }}" } },
        {"state/location":    {"str_value": "{{ dct.get('state/location', 'Fan Tray 4') }}" } },
        {"state/description":    {"str_value": "{{ dct.get('state/description', 'fan-ctrl-2 4, Back to Front Airflow - AFI') }}" } },
        {"state/removable":    {"bool_value": {{ dct.get('state/removable', 'false') }} } },
        {"state/empty":    {"bool_value": {{ dct.get('state/empty', 'false') }} } },
        {"state/temperature/instant":    {"str_value": "{{ dct.get('state/temperature/instant', '0.0') }}" } },
        {"state/memory/available":    {"uint_value": {{ dct.get('state/memory/available', 0.000000) }} } },
        {"state/memory/utilized":    {"uint_value": {{ dct.get('state/memory/utilized', 0.000000) }} } },
        {"state/allocated-power":    {"uint_value": {{ dct.get('state/allocated-power', 0.000000) }} } },
    {"__prefix__": {"str_value": "/components/component[name='Fan Tray 4']/properties/property[name='state']/"}},
        {"state/value":    {"str_value": "{{ dct.get('state/value', 'Online') }}" } },
        {"state/configurable":    {"bool_value": {{ dct.get('state/configurable', 'false') }} } }    ]
}
]
