[
{% set dct = optics|default({}) %}
{"sensor_1010:/junos/system/linecard/optics/:/junos/system/linecard/optics/:PFE":     [
    {"__prefix__": {"str_value": "/interfaces/interface[name='xe-0/0/0']/optics/"}},
    {"__prefix__": {"str_value": "/interfaces/interface[name='xe-0/0/1']/optics/"}},
        {"optics_type":    {"uint_value": {{ dct.get('optics_type', 8.000000) }} } },
        {"module_temp":    {"double_value": {{ dct.get('module_temp', 28.804000854492188) }} } },
        {"module_temp_high_alarm_threshold":    {"int_value": {{ dct.get('module_temp_high_alarm_threshold', 75.000000) }} } },
        {"module_temp_low_alarm_threshold":    {"int_value": {{ dct.get('module_temp_low_alarm_threshold', -5.000000) }} } },
        {"module_temp_high_warning_threshold":    {"int_value": {{ dct.get('module_temp_high_warning_threshold', 70.000000) }} } },
        {"module_temp_low_warning_threshold":    {"int_value": {{ dct.get('module_temp_low_warning_threshold', 0.000000) }} } },
        {"laser_output_power_high_alarm_threshold_dbm":    {"double_value": {{ dct.get('laser_output_power_high_alarm_threshold_dbm', 3.01) }} } },
        {"laser_output_power_low_alarm_threshold_dbm":    {"double_value": {{ dct.get('laser_output_power_low_alarm_threshold_dbm', -9) }} } },
        {"laser_output_power_high_warning_threshold_dbm":    {"double_value": {{ dct.get('laser_output_power_high_warning_threshold_dbm', -1.02) }} } },
        {"laser_output_power_low_warning_threshold_dbm":    {"double_value": {{ dct.get('laser_output_power_low_warning_threshold_dbm', -4.99) }} } },
        {"laser_rx_power_high_alarm_threshold_dbm":    {"double_value": {{ dct.get('laser_rx_power_high_alarm_threshold_dbm', 2) }} } },
        {"laser_rx_power_low_alarm_threshold_dbm":    {"double_value": {{ dct.get('laser_rx_power_low_alarm_threshold_dbm', -13.9) }} } },
        {"laser_rx_power_high_warning_threshold_dbm":    {"double_value": {{ dct.get('laser_rx_power_high_warning_threshold_dbm', -1) }} } },
        {"laser_rx_power_low_warning_threshold_dbm":    {"double_value": {{ dct.get('laser_rx_power_low_warning_threshold_dbm', -9.9) }} } },
        {"laser_bias_current_high_alarm_threshold":    {"double_value": {{ dct.get('laser_bias_current_high_alarm_threshold', 10.5) }} } },
        {"laser_bias_current_low_alarm_threshold":    {"double_value": {{ dct.get('laser_bias_current_low_alarm_threshold', 2.5) }} } },
        {"laser_bias_current_high_warning_threshold":    {"double_value": {{ dct.get('laser_bias_current_high_warning_threshold', 10.5) }} } },
        {"laser_bias_current_low_warning_threshold":    {"double_value": {{ dct.get('laser_bias_current_low_warning_threshold', 2.5) }} } },
        {"module_temp_high_alarm":    {"bool_value": {{ dct.get('module_temp_high_alarm', 'false') }} } },
        {"module_temp_low_alarm":    {"bool_value": {{ dct.get('module_temp_low_alarm', 'false') }} } },
        {"module_temp_high_warning":    {"bool_value": {{ dct.get('module_temp_high_warning', 'false') }} } },
        {"module_temp_low_warning":    {"bool_value": {{ dct.get('module_temp_low_warning', 'false') }} } },
    {"__prefix__": {"str_value": "/interfaces/interface[name='xe-0/0/1']/optics/lanediags/"}},
        {"lane[lane_number='0']/lane_number":    {"uint_value": {{ dct.get('/interfaces/interface[name="xe-0/0/1"]/optics/lanediags/lane[lane_number="0"]/lane_number', 0.000000) }} } },
        {"lane[lane_number='0']/lane_laser_temperature":    {"double_value": {{ dct.get('/interfaces/interface[name="xe-0/0/1"]/optics/lanediags/lane[lane_number="0"]/lane_laser_temperature', 28.804000854492188) }} } },
        {"lane[lane_number='0']/lane_laser_bias_current":    {"double_value": {{ dct.get('/interfaces/interface[name="xe-0/0/1"]/optics/lanediags/lane[lane_number="0"]/lane_laser_bias_current', 5.3740000000000006) }} } },
        {"lane[lane_number='0']/lane_laser_output_power_high_alarm":    {"bool_value": {{ dct.get('/interfaces/interface[name="xe-0/0/1"]/optics/lanediags/lane[lane_number="0"]/lane_laser_output_power_high_alarm', 'false') }} } },
        {"lane[lane_number='0']/lane_laser_output_power_low_alarm":    {"bool_value": {{ dct.get('/interfaces/interface[name="xe-0/0/1"]/optics/lanediags/lane[lane_number="0"]/lane_laser_output_power_low_alarm', 'false') }} } },
        {"lane[lane_number='0']/lane_laser_output_power_high_warning":    {"bool_value": {{ dct.get('/interfaces/interface[name="xe-0/0/1"]/optics/lanediags/lane[lane_number="0"]/lane_laser_output_power_high_warning', 'false') }} } },
        {"lane[lane_number='0']/lane_laser_output_power_low_warning":    {"bool_value": {{ dct.get('/interfaces/interface[name="xe-0/0/1"]/optics/lanediags/lane[lane_number="0"]/lane_laser_output_power_low_warning', 'false') }} } },
        {"lane[lane_number='0']/lane_laser_receiver_power_high_alarm":    {"bool_value": {{ dct.get('/interfaces/interface[name="xe-0/0/1"]/optics/lanediags/lane[lane_number="0"]/lane_laser_receiver_power_high_alarm', 'false') }} } },
        {"lane[lane_number='0']/lane_laser_receiver_power_low_alarm":    {"bool_value": {{ dct.get('/interfaces/interface[name="xe-0/0/1"]/optics/lanediags/lane[lane_number="0"]/lane_laser_receiver_power_low_alarm', 'false') }} } },
        {"lane[lane_number='0']/lane_laser_receiver_power_high_warning":    {"bool_value": {{ dct.get('/interfaces/interface[name="xe-0/0/1"]/optics/lanediags/lane[lane_number="0"]/lane_laser_receiver_power_high_warning', 'false') }} } },
        {"lane[lane_number='0']/lane_laser_receiver_power_low_warning":    {"bool_value": {{ dct.get('/interfaces/interface[name="xe-0/0/1"]/optics/lanediags/lane[lane_number="0"]/lane_laser_receiver_power_low_warning', 'false') }} } },
        {"lane[lane_number='0']/lane_laser_bias_current_high_alarm":    {"bool_value": {{ dct.get('/interfaces/interface[name="xe-0/0/1"]/optics/lanediags/lane[lane_number="0"]/lane_laser_bias_current_high_alarm', 'false') }} } },
        {"lane[lane_number='0']/lane_laser_bias_current_low_alarm":    {"bool_value": {{ dct.get('/interfaces/interface[name="xe-0/0/1"]/optics/lanediags/lane[lane_number="0"]/lane_laser_bias_current_low_alarm', 'false') }} } },
        {"lane[lane_number='0']/lane_laser_bias_current_high_warning":    {"bool_value": {{ dct.get('/interfaces/interface[name="xe-0/0/1"]/optics/lanediags/lane[lane_number="0"]/lane_laser_bias_current_high_warning', 'false') }} } },
        {"lane[lane_number='0']/lane_laser_bias_current_low_warning":    {"bool_value": {{ dct.get('/interfaces/interface[name="xe-0/0/1"]/optics/lanediags/lane[lane_number="0"]/lane_laser_bias_current_low_warning', 'false') }} } },
        {"lane[lane_number='0']/lane_tx_loss_of_signal_alarm":    {"bool_value": {{ dct.get('/interfaces/interface[name="xe-0/0/1"]/optics/lanediags/lane[lane_number="0"]/lane_tx_loss_of_signal_alarm', 'false') }} } },
        {"lane[lane_number='0']/lane_rx_loss_of_signal_alarm":    {"bool_value": {{ dct.get('/interfaces/interface[name="xe-0/0/1"]/optics/lanediags/lane[lane_number="0"]/lane_rx_loss_of_signal_alarm', 'false') }} } },
        {"lane[lane_number='0']/lane_tx_laser_disabled_alarm":    {"bool_value": {{ dct.get('/interfaces/interface[name="xe-0/0/1"]/optics/lanediags/lane[lane_number="0"]/lane_tx_laser_disabled_alarm', 'false') }} } }
    ]
}
]
